.imagen, .imagen-contacto, .bg-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.fecha, .evento, .footer-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*------------ hero image------------ */
.imagen {
  background: url("../img/home/home.jpg") center/cover;
  height: 100vh; }

.imagen__info {
  padding: 0.3rem;
  position: absolute;
  top: 150px;
  right: 15px;
  text-align: right;
  color: #fff; }

.imagen__p {
  font-size: 3rem;
  font-family: "Zilla Slab", serif;
  font-weight: bold; }

/*------------ Contain------------ */
.contenido {
  font-family: "Zilla Slab", serif;
  padding-top: 40px;
  width: 90%;
  margin: auto;
  background-color: #fff; }
  .contenido__info {
    margin: 2rem auto 0 auto;
    width: 95%; }
  .contenido__info-text {
    width: 95%;
    margin: 0 auto;
    text-align: justify; }
    .contenido__info-text h2 {
      font-family: "Zilla Slab", serif; }
    .contenido__info-text p {
      font-family: "Quicksand", sans-serif; }
  .contenido__info-card {
    border: 1px gray solid;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.29);
    padding: 20px;
    margin-top: 20px;
    font-family: "Quicksand", sans-serif; }
    .contenido__info-card h2 {
      font-family: "Zilla Slab", serif; }
  .contenido__viajes {
    width: 95%;
    margin: 0 auto;
    text-align: justify; }
    .contenido__viajes h2 {
      font-family: "Zilla Slab", serif; }
  .contenido__map {
    font-family: "Quicksand", sans-serif;
    width: 100%; }
    .contenido__map h2 {
      font-family: "Zilla Slab", serif;
      width: 95%;
      margin: 0 auto 2rem auto; }
  .contenido__condiciones {
    width: 95%;
    margin: 0 auto;
    font-family: "Quicksand", sans-serif; }
    .contenido__condiciones h2 {
      font-family: "Zilla Slab", serif; }
  .contenido__formulario {
    width: 95%;
    margin: 0 auto;
    font-family: "Zilla Slab", serif; }
  .contenido__p {
    margin: 0;
    font-size: "Quicksand", sans-serif; }
  .contenido__imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    @media (max-width: 1220px) {
      .contenido__imagenes {
        grid-template-columns: repeat(3, 1fr); } }
    @media (max-width: 950px) {
      .contenido__imagenes {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 640px) {
      .contenido__imagenes {
        grid-template-columns: 1fr; } }
    .contenido__imagenes img {
      border: 2px solid #000;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 40px;
      height: 200px;
      width: 200px;
      object-fit: cover;
      object-position: center; }
      @media (max-width: 640px) {
        .contenido__imagenes img {
          justify-self: center;
          height: 300px;
          width: 300px; } }

.card__item {
  display: flex;
  font-family: "Quicksand", sans-serif;
  margin: 20px 0; }

.fecha__mes {
  color: #fa3e3e;
  font-weight: bold; }

.fecha__dia {
  color: #000;
  font-weight: bold; }

.evento {
  margin-left: 2rem; }
  .evento__lugar {
    color: #000;
    font-weight: bold;
    align-self: flex-start; }
  .evento__fecha {
    color: #90949c;
    font-weight: bold;
    align-self: flex-start; }

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
  box-shadow: none; }

.accordion-button:focus {
  box-shadow: none; }

.accordion-flush .accordion-item .accordion-button {
  font-family: "Zilla Slab", serif;
  font-size: 1.2rem; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999; }

.container-fluid {
  background-color: #fff; }

.dropdown-toggle::after {
  display: none; }

.dropdown-item {
  font-size: "Zilla Slab", serif;
  margin: 10px; }
  .dropdown-item:hover {
    color: #fff;
    background-color: #198754; }

.nav-link {
  font-size: "Zilla Slab", serif;
  margin-right: 20px;
  transition: transform 0.2s; }
  .nav-link:hover {
    color: #198754;
    transform: scale(1.1); }
  @media (max-width: 990px) {
    .nav-link {
      margin-left: 30px;
      margin-right: 0px; } }

footer {
  background-color: #198754;
  color: #fff;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

@media (max-width: 670px) {
  .footer-logo {
    display: none; } }

.footer-contain__message {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin-top: 0.8rem; }

.footer-contain__social {
  text-align: center; }
  .footer-contain__social a {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
    background-color: inherit; }
    .footer-contain__social a:nth-child(4) {
      background-color: #1DB954;
      color: #000;
      border: 1px solid #1DB954; }
    .footer-contain__social a:nth-child(3) {
      background-color: #54A1C8;
      color: #fff;
      border: 1px solid #54A1C8; }
    .footer-contain__social a:nth-child(2) {
      background-color: #466BAE;
      color: #fff;
      border: 1px solid #466BAE; }
    .footer-contain__social a:nth-child(1) {
      background: linear-gradient(#515BD4, #8134AF, #DD2A7B, #FEDA77, #F58520);
      color: #fff;
      border: 1px solid #DD2A7B; }
    @media (max-width: 400px) {
      .footer-contain__social a {
        width: 35px;
        height: 35px;
        font-size: 1rem; } }
    @media (max-width: 325px) {
      .footer-contain__social a {
        width: 30px;
        height: 30px;
        font-size: 1rem; } }

/*------------ hero image------------ */
.imagen-contacto {
  background: url("../img/contacto/tatacoa.jpg") center/cover;
  height: 100vh; }

.imagen-contacto__info {
  padding: 0.3rem;
  position: absolute;
  top: 150px;
  right: 15px;
  text-align: right;
  color: #fff; }

.imagen-contacto__p {
  font-size: 3rem;
  font-family: "Zilla Slab", serif;
  font-weight: bold; }

/*------------ Formulario------------ */
.nosotros {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .nosotros__info {
    display: flex;
    flex-direction: column;
    width: 60%; }
  .nosotros__label {
    margin: 5px 0; }
  .nosotros__input {
    border-radius: 10px;
    border: 1px solid #90949c;
    height: 35px;
    outline: none; }
  .nosotros__textarea {
    border-radius: 10px;
    border: 1px solid #90949c;
    outline: none; }
  .nosotros__submit {
    font-size: 16px;
    padding: 15px 45px;
    margin: 20px 0px;
    background-color: #198754;
    border: none;
    border-radius: 15px;
    color: #fff; }
    .nosotros__submit:hover {
      background-color: #157147; }

.required {
  color: #fa3e3e;
  margin-left: 2px; }

.page-not-found {
  width: 50%;
  margin: auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  color: #000; }
  @media (min-width: 2000px) {
    .page-not-found {
      width: 40%; } }
  @media (max-width: 840px) {
    .page-not-found {
      width: 60%; } }
  @media (max-width: 720px) {
    .page-not-found {
      width: 70%; } }
  @media (max-width: 610px) {
    .page-not-found {
      width: 80%; } }
  @media (max-width: 515px) {
    .page-not-found {
      width: 100%; } }
  @media (max-width: 450px) {
    .page-not-found {
      width: 80%; } }

.page-not-found-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center; }

.page-not-found-imagen {
  background: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
  height: 420px;
  width: 100%;
  background-position: center; }

.page-not-found-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px; }
  .page-not-found-number__diferent {
    color: #198754; }

.page-not-found-text {
  font-size: 20px;
  text-align: center;
  font-weight: bold; }

.page-not-found-button {
  font-size: 16px;
  padding: 15px 45px;
  margin: 20px 0px;
  background-color: #198754;
  border: none;
  border-radius: 15px;
  color: #fff; }
  .page-not-found-button:hover {
    background-color: #157147; }
  .page-not-found-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold; }

/*------------ Reseteo------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 650px) {
  .imagen__p {
    font-size: 3rem; } }

/*------------ contenido main ------------ */
main {
  position: relative; }

.bg-image {
  background: url("../img/home/fondo.jpg") center/cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.2; }

.informacion {
  padding-top: 9rem;
  margin: 0 auto;
  width: 90%;
  background-color: #fff; }
  .informacion h2 {
    font-family: "Zilla Slab", serif;
    text-align: center;
    padding-bottom: 1rem; }
  .informacion__lugar {
    display: grid;
    grid-template-columns: 50% 50%; }
    @media (max-width: 570px) {
      .informacion__lugar {
        width: 100%;
        display: flex;
        flex-direction: column-reverse; } }
  .informacion__lugar-info {
    width: 90%;
    font-family: "Quicksand", sans-serif;
    text-align: justify;
    padding-bottom: 2rem; }
    .informacion__lugar-info p {
      margin: 0; }
    @media (max-width: 570px) {
      .informacion__lugar-info {
        align-self: center; } }
  .informacion__lugar-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start; }
    @media (max-width: 1050px) {
      .informacion__lugar-img {
        grid-template-columns: 1fr; } }
    @media (max-width: 570px) {
      .informacion__lugar-img {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 450px) {
      .informacion__lugar-img {
        grid-template-columns: 1fr; } }
    .informacion__lugar-img img {
      justify-self: center;
      border: 2px solid #000;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 200px;
      width: 200px;
      object-fit: cover;
      object-position: center; }
      @media (max-width: 1050px) {
        .informacion__lugar-img img {
          height: 220px;
          width: 220px;
          align-self: center; } }
      @media (max-width: 570px) {
        .informacion__lugar-img img {
          height: 180px;
          width: 180px; } }
      @media (max-width: 450px) {
        .informacion__lugar-img img {
          height: 220px;
          width: 220px;
          align-self: center; } }
