<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!---------------- Descriptions & keywords -------------->
  <meta name="description"
    content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
  <meta name="keywords" content="senderismo, trekking, integración, naturaleza, páramo de belmira, Santa Inés">
  <!---------------- Favicon -------------->
  <link rel="shortcut icon" href="../../img/home/favicon.png">
  <!---------------- Fonts -------------->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap"
    rel="stylesheet">
  <!---------------- animated -------------->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <!---------------- Boostrap -------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!---------------- Boostrap Icons -------------->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!---------------- CSS -------------->
  <link rel="stylesheet" href="../../css/styles.css">
  <title>Travel House | Senderismo Belmira</title>
</head>

<body>
  <header>
    <!---------------------------- Navbar ------------------------------>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
            </li>
            <!----------------- Opciones Deportes extremos------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Deportes Extremos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../deportesExtremos/rioClaro.html">Rio claro</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/laCeja.html">La ceja</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/sanLuis.html">San luis</a></li>
              </ul>
            </li>

            <!----------------- Opciones Tours------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tours
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../tours/murillo.html">Murillo, Tolima</a></li>
                <li><a class="dropdown-item" href="../tours/islaFuerte.html">Isla Fuerte</a></li>
                <li><a class="dropdown-item" href="../tours/tatacoa.html">Desierto de la Tatacoa</a></li>
                <li><a class="dropdown-item" href="../tours/ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                <li><a class="dropdown-item" href="../tours/chicamocha.html">Cañón del chicamocha</a></li>
                <li><a class="dropdown-item" href="../tours/amazonas.html">Amazonas</a></li>
                <li><a class="dropdown-item" href="../tours/sapzurro.html">Sapzurro</a></li>
              </ul>
            </li>

            <!----------------- Opciones Senderismo------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Senderismo
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./melcocho.html">Río Melcocho</a></li>
                <li><a class="dropdown-item" href="#belmira">Páramo de Belmira</a></li>
                <li><a class="dropdown-item" href="./esmeralda.html">Cascada la esmeralda</a></li>
                <li><a class="dropdown-item" href="./cisneros.html">Senderismo en Cisneros</a></li>
                <li><a class="dropdown-item" href="./venecia.html">Venecia</a></li>
                <li><a class="dropdown-item" href="./guatape.html">Guatapé</a></li>
              </ul>
            </li>

            <!----------------- Opción Contacto------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Nosotros
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../contacto/contacto.html">Contacto</a></li>
                <li><a class="dropdown-item" href="../contacto/blog.html">Blog</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div>
    <main>
      <!---------------------------- Información ------------------------------>
      <div class="bg-image"></div>
      <section>
        <div class="informacion" id="belmira">
          <h2 class="wow animate__animated animate__fadeIn"> 🌄 Páramo de Belmira - Santa Inés 💧 🌄</h2>
          <div class="informacion__lugar">
            <div class="informacion__lugar-img">
              <img src="../../img/senderimo/belmira/belmira.jpg" alt="belmira"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/belmira/belmira1.jpg" alt="belmira"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/belmira/belmira2.jpg" alt="belmira"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/belmira/belmira3.jpg" alt="belmira"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/belmira/belmira4.jpg" alt="belmira"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/belmira/belmira5.jpg" alt="belmira"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/belmira/belmira6.jpg" alt="belmira"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/belmira/belmira7.jpg" alt="belmira"
                class="wow animate__animated animate__fadeIn">
            </div>
            <div class="informacion__lugar-info wow animate__animated animate__fadeIn">
              <span>
                📅 Sábado 24 de Septiembre <br>
                💲 100.000 // Páramo de Santa Inés, fuente de agua y vida <br>#Colombia #Trekking Incluye: 🚌 Transporte
                +💪 Nivel 4 + 😎 <br>Guianza + 📷 Fotografía + Seguro <br>
                📜 Para Reservas con $40.000 COP y el resto en efectivo el día del <br>evento. Cuenta Ahorros
                Bancolombia Nro 311-000-525-23 Alejandro <br>Reategui // Cc 1.037.525.222// Verificar disponibilidad
                antes del <br>pago. <br>
                💳 Se reciben consignaciones, transferencias, traslados por la <br>Aplicación de Bancolombia. <br>
                Verificar disponibilidad antes del pago. <br>
                🚎 Al Momento de hacer la reserva indicar si llegan al sitio de <br> salida Av Las Vegas junto a Punto
                Clave, o si hay que recogerlo <br>junto a Éxito de Robledo, puente vía hacia el Túnel de Occidente, <br>
                6.30 AM. Tenga en cuenta que en caso de no avisar en el momento de <br>la reserva, debe llegar al sitio
                de salida. <br>
                > 🕘 6,00 Am: Salida, Punto Clave, junto a la estación <br>Industriales del metro, paradero de buses
                sobre la avenida Las <br>Vegas. Si deseas abordar el Bus en un lugar diferente al sitio de <br>salida,
                Realizamos también paradas para recoger 6.20 Am Vía nueva <br>al Túnel junto al Éxito de Robledo, encima
                de la Avenida 80. De lo <br>contrario debe llegar al sitio de salida // Regreso: 🕘 5.30 Pm <br>hacia
                Medellín. <br>
                El páramo de Belmira se encuentra localizado dentro del sistema de <br>páramos y bosques altoandinos del
                noroccidente medio antioqueño, <br> sobre la cordillera central, en el Departamento de Antioquia
                <br>(Colombia), entre los 2.400 y los 3.350 msns, y tiene un área de <br>34.358,74 hectáreas. <br>
                Los Paramos son un sistema que aún conserva importantes <br> poblaciones vegetales y animales
                representativos de los <br>ecosistemas de alta montaña y resulta estratégico por la oferta <br>
                ambiental de agua que beneficia a aproximadamente 64.000 <br>habitantes de las zonas rurales de once
                municipios, y 980.000 <br>habitantes del área metropolitana del Valle de Aburrá. <br>
                El páramo de Belmira es un ecosistema de gran fragilidad y riqueza <br>propio de las montañas andinas
                localizadas en la zona ecuatorial <br> por encima de los 3000 msnm. En latitudes alejadas del Ecuador a
                <br>tal altura las montañas ya están cubiertas de nieve, y en África <br> ecuatorial las alturas son
                muchísimo menores. Esto hace que más <br>del 90% de los páramos del mundo estén en Colombia. El resto se
                <br>los reparten Venezuela, Ecuador, Perú y Centroamérica. <br>
                El mayor atractivo de los páramos es su vegetación especializada <br>única en el mundo, su gran riqueza
                en especies vegetales <br>rastreras, musgos y líquenes y el gran número de aves, insectos y <br>ranas
                que lo habitan. Durante el recorrido de acceso al páramo se <br>cruzan pisos térmicos suficientemente
                variados como para encontrar <br> tres ecosistemas diferentes: El Bosque Montano Bajo, el Bosque
                <br>Montano Alto o Bosque de Niebla y el Páramo. El primero se <br>caracteriza por su gran cantidad de
                robles y especies arbóreas de <br>talla mediana y grande. A medida que se asciende la vegetación se <br>
                tornara más baja, predominando pequeños árboles y numerosos <br>arbustos con una diversidad
                impresionante. Por el contrario en el <br> páramo predominan las sabanas, la vegetación rastrera y los
                <br>frailejones, especie que únicamente se da en estos pisos térmicos <br>y que sólo florece una vez en
                el año. <br>
                > Este Plan incluye: <br>
                - 🚌 Transporte Medellín - Belmira - Medellín <br>
                - 😃 Senderismo. <br>
                - 😎 Guía acompañante. <br>
                - 💉 Seguro medico con Colasistencia. <br>
                Recomendaciones : <br>
                - Trekking no apto para personas con problemas de rodilla y <br>sobrepeso. <br>
                - Hidratarse antes, durante y después de la actividad. <br>
                - Usar Botas pantaneras, ¡de caucho! <br>
                - Llevar Almuerzo, este lo vamos a consumir en la montaña. <br>
                - Llevar gafas de sol, bloqueador solar y protector labial. <br>
                - Portar alimentos ricos en carbohidratos bebidas hidratantes. <br>
                - Usar ropa de tonos claros y zapatos adecuados para caminar. <br>
                - Ropa y Zapatos de cambio. <br>
                - Portar los documentos de identificación. <br>
                - Morral cómodo. <br>
                - Capa impermeable (Necesaria en caso de lluvia). <br>
                - Botiquín personal. <br>
                - Sombrero, gorra o pañoleta. <br>
                - Cámara de fotográfica. <br>
                - Seguir siempre las indicaciones de los guías, no resagarse ni <br>adelantarse. <br>
                📜*Únicamente mayores de 15 años* <br>
                Atendiendo a las actividades que se desarrollan en el curso del <br>viaje (Turismo de Naturaleza) y a
                los riesgos que se desprenden, <br>la participación de menores de edad se restringe a la edad de 14 <br>
                años, es decir, solo podrán viajar niños a partir de 15 años de <br>edad y que lo hagan en la compañía
                de sus padres. <br>
              </span>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-logo wow animate__animated animate__fadeIn">
        <img src="../../img/home/logo-remove.png" alt="logo">
      </div>
      <div class="footer-contain">
        <div class="footer-contain__social">
          <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
          <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
          <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
          <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
        </div>
        <div class="footer-contain__message wow animate__animated animate__fadeIn">
          Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
        </div>
      </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
</body>

</html>