<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!---------------- Descriptions & keywords -------------->
  <meta name="description"
    content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
  <meta name="keywords" content="senderismo, trekking, integración, naturaleza, Cisneros, charcos">
  <!---------------- Favicon -------------->
  <link rel="shortcut icon" href="../../img/home/favicon.png">
  <!---------------- Fonts -------------->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap"
    rel="stylesheet">
  <!---------------- animated -------------->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <!---------------- Boostrap -------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!---------------- Boostrap Icons -------------->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!---------------- CSS -------------->
  <link rel="stylesheet" href="../../css/styles.css">
  <title>Travel House | Senderimo Cisneros</title>
</head>

<body>
  <header>
    <!---------------------------- Navbar ------------------------------>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
            </li>
            <!----------------- Opciones Deportes extremos------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Deportes Extremos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../deportesExtremos/rioClaro.html">Rio claro</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/laCeja.html">La ceja</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/sanLuis.html">San luis</a></li>
              </ul>
            </li>

            <!----------------- Opciones Tours------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tours
              </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../tours/murillo.html">Murillo, Tolima</a></li>
                <li><a class="dropdown-item" href="../tours/islaFuerte.html">Isla Fuerte</a></li>
                <li><a class="dropdown-item" href="../tours/tatacoa.html">Desierto de la Tatacoa</a></li>
                <li><a class="dropdown-item" href="../tours/ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                <li><a class="dropdown-item" href="../tours/chicamocha.html">Cañón del chicamocha</a></li>
                <li><a class="dropdown-item" href="../tours/amazonas.html">Amazonas</a></li>
                <li><a class="dropdown-item" href="../tours/sapzurro.html">Sapzurro</a></li>
              </ul>
            </li>

            <!----------------- Opciones Senderismo------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Senderismo
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./melcocho.html">Río Melcocho</a></li>
                <li><a class="dropdown-item" href="./belmira.html">Páramo de Belmira</a></li>
                <li><a class="dropdown-item" href="./esmeralda.html">Cascada la esmeralda</a></li>
                <li><a class="dropdown-item" href="#cisneros">Senderismo en Cisneros</a></li>
                <li><a class="dropdown-item" href="./venecia.html">Venecia</a></li>
                <li><a class="dropdown-item" href="./guatape.html">Guatapé</a></li>
              </ul>
            </li>

            <!----------------- Opción Contacto------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Nosotros
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../contacto/contacto.html">Contacto</a></li>
                <li><a class="dropdown-item" href="../contacto/blog.html">Blog</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div>
    <main>
      <!---------------------------- Información ------------------------------>
      <div class="bg-image"></div>
      <section>
        <div class="informacion" id="cisneros">
          <h2 class="wow animate__animated animate__fadeIn"> 💧 Senderismo en Cisneros 🏊‍♂️ Recorrido de charco en
            charco 💧 🌄</h2>
          <div class="informacion__lugar">
            <div class="informacion__lugar-img">
              <img src="../../img/senderimo/cisneros/cisneros.jpg" alt="cisneros"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/cisneros/cisneros1.jpg" alt="cisneros"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/cisneros/cisneros2.jpg" alt="cisneros"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/cisneros/cisneros3.jpg" alt="cisneros"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/cisneros/cisneros4.jpg" alt="cisneros"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/cisneros/cisneros5.jpg" alt="cisneros"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/cisneros/cisneros6.jpg" alt="cisneros"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/cisneros/cisneros7.jpg" alt="cisneros"
                class="wow animate__animated animate__fadeIn">
            </div>
            <div class="informacion__lugar-info wow animate__animated animate__fadeIn">
              <span>
                📅 Sábado 25 de Septiembre <br>
                > 💲95.000 // 💪Nivel 2.5 Medio // 7 Km Incluye: 🚌 Transporte + <br />👲 Guianza + 🏊‍♂️Charcos Río
                Santa Gertrudis + 🍲 Almuerzo + 🏥 <br />Seguro. <br />
                👉 Separá tu cupo con 💲 40.000 abonando la Cuenta Ahorros <br />Bancolombia Nro 311-000-525-23. <br />
                ✅ Actividades Propuestas: <br />
                🕘 6:00 a.m.: Salida. <br />
                - Parada a desayunar en Porce <br />
                - Llegada a Cisneros <br />
                - Inicio actividad, Senderismo. <br />
                💧 Senderismo por camino de herradura, para luego iniciar el <br />recorrido por el Rio Santa Gertrudis,
                de charco en charco con <br />acompañamiento de personal de salvamiento acuatico y Fofografo. <br />
                - Tiempo Suficiente para disfrutar de cada charco <br />
                - Descanso en el pueblo para luego retornar a Medellín. <br />
                - Salida de regreso hacia Medellín. <br />
                🕘 9 Pm: Hora estimada de Llegada a Medellín. <br />
                ✅ Descripción del Recorrido <br />
                Grado de Dificultad: Nivel 2 (1 a 5) - Moderado <br />
                Distancia: 7 km <br />
                Tiempo Estimado: 4.5 Horas <br />
                Clima: Templado <br />
                Condiciones: Pese a ser un senderismo de un nivel medio - bajo, se <br /> recomienda buen estado físico
                ya que hay que pasar gran parte del <br />tiempo en el agua y cruzar ríos y cascadas, llevar un calzado
                <br />cómodo, de buen agarre y ropa de cambio. ¡Ojo, vamos a estar <br />mojados la mayor parte del
                tiempo! <br />
                ✅ Atractivos <br />
                - 🌳 Bosques y caminos de arrieros <br />
                - 🚣 Charcos, ríos y cascadas. <br />
                - 🏡 Parque Principal Francisco Javier Cisneros <br />
                - 🏡 Iglesia Nuestra Señora del Carmen. <br />
                - 🔭 Estación del Ferrocarril, Monumento Nacional. <br />
                ✅ Incluye: <br />
                - 🚎 Transporte Medellín - Cisneros - Medellín // Ocupación del 50% <br />
                - 😃 Senderismo 7 K <br />
                - 😎 Guía acompañante desde Medellín. <br />
                - 😎 Guías locales. <br />
                - 💉 Seguro médico con Colasistencia. <br />
                - 🍲 Almuerzo. <br />
                ✅ ¿Qué debo llevar? <br />
                - 🧥Buso para el viaje en Bus. <br />
                -🏊‍♀Vestido de Baño <br />
                -👕Ropa y Zapatos de Cambio. <br />
                -🧢Bloqueador solar, protector labial, Gorra o Sombrero <br />
                - 💊Botiquín Personal. <br />
                - 🍎Alimentos ricos en fibra y frutas. <br />
                - 💵Dinero en efectivo. <br />
                - 🔵Hidratación, dos litros en promedio. <br />
                - 🌡Kit Deinfección personal (Alcohol, Gel antibacterial, Buff <br /> antfluido o tapabocas). <br />
                📜*Únicamente mayores de 12 años* <br />
                Atendiendo a las actividades que se desarrollan en el curso del <br />viaje (Turismo de Naturaleza) y a
                los riesgos que se desprenden, <br /> la participación de menores de edad se restringe a la edad de 11
                <br />años, es decir, solo podrán viajar niños a partir de 12 años de <br />edad y que lo hagan en la
                compañía de sus padres. <br />
              </span>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-logo wow animate__animated animate__fadeIn">
        <img src="../../img/home/logo-remove.png" alt="logo">
      </div>
      <div class="footer-contain">
        <div class="footer-contain__social wow animate__animated animate__fadeIn">
          <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
          <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
          <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
          <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
        </div>
        <div class="footer-contain__message wow animate__animated animate__fadeIn">
          Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
        </div>
      </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
</body>

</html>