<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!---------------- Descriptions & keywords -------------->
  <meta name="description"
    content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
  <meta name="keywords" content="senderismo, trekking, integración, naturaleza, cascada, cocorná, La esmeralda ">
  <!---------------- Favicon -------------->
  <link rel="shortcut icon" href="../../img/home/favicon.png">
  <!---------------- Fonts -------------->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap"
    rel="stylesheet">
  <!---------------- animated -------------->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <!---------------- Boostrap -------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!---------------- Boostrap Icons -------------->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!---------------- CSS -------------->
  <link rel="stylesheet" href="../../css/styles.css">
  <title>Travel House | Senderismo Esmeralda</title>
</head>

<body>
  <header>
    <!---------------------------- Navbar ------------------------------>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
            </li>
            <!----------------- Opciones Deportes extremos------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Deportes Extremos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../deportesExtremos/rioClaro.html">Rio claro</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/laCeja.html">La ceja</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/sanLuis.html">San luis</a></li>
              </ul>
            </li>

            <!----------------- Opciones Tours------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tours
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../tours/murillo.html">Murillo, Tolima</a></li>
                <li><a class="dropdown-item" href="../tours/islaFuerte.html">Isla Fuerte</a></li>
                <li><a class="dropdown-item" href="../tours/tatacoa.html">Desierto de la Tatacoa</a></li>
                <li><a class="dropdown-item" href="../tours/ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                <li><a class="dropdown-item" href="../tours/chicamocha.html">Cañón del chicamocha</a></li>
                <li><a class="dropdown-item" href="../tours/amazonas.html">Amazonas</a></li>
                <li><a class="dropdown-item" href="../tours/sapzurro.html">Sapzurro</a></li>
              </ul>
            </li>

            <!----------------- Opciones Senderismo------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Senderismo
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./melcocho.html">Río Melcocho</a></li>
                <li><a class="dropdown-item" href="./belmira.html">Páramo de Belmira</a></li>
                <li><a class="dropdown-item" href="#esmeralda">Cascada la esmeralda</a></li>
                <li><a class="dropdown-item" href="./cisneros.html">Senderismo en Cisneros</a></li>
                <li><a class="dropdown-item" href="./venecia.html">Venecia</a></li>
                <li><a class="dropdown-item" href="./guatape.html">Guatapé</a></li>
              </ul>
            </li>

            <!----------------- Opción Contacto------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Nosotros
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../contacto/contacto.html">Contacto</a></li>
                <li><a class="dropdown-item" href="../contacto/blog.html">Blog</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div>
    <main>
      <!---------------------------- Información ------------------------------>
      <div class="bg-image"></div>
      <section>
        <div class="informacion" id="esmeralda">
          <h2 class="wow animate__animated animate__fadeIn"> 🌳Cocorná / Cascada la Esmeralda🌳</h2>
          <div class="informacion__lugar">
            <div class="informacion__lugar-img">
              <img src="../../img/senderimo/esmeralda/esmeralda.jpg" alt="esmeralda"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/esmeralda/esmeralda1.jpg" alt="esmeralda"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/esmeralda/esmeralda2.jpg" alt="esmeralda"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/esmeralda/esmeralda3.jpg" alt="esmeralda"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/esmeralda/esmeralda4.jpg" alt="esmeralda"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/esmeralda/esmeralda5.jpg" alt="esmeralda"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/esmeralda/esmeralda6.jpg" alt="esmeralda"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/senderimo/esmeralda/esmeralda7.jpg" alt="esmeralda">
            </div>
            <div class="informacion__lugar-info wow animate__animated animate__fadeIn">
              <span>
                📅 Domingo 18 de Septiembre <br>
                💲 105.000 //💪 Nivel 3 Medio // 14 Km // Incluye: 🚌Transporte + <br> 👲 Guianza + 🏥Seguro + Traslados
                en 4x4 + 🍲 Almuerzo hecho por <br>madres cabeza de familia de la zona. <br>
                💳 Se reciben consignaciones, transferencias, traslados por la <br>Aplicación de Bancolombia. <br>
                🚌 Al Momento de hacer la reserva indicar si llegan al sitio de <br>salida o se realizará parada en los
                siguientes puntos de acopio: <br>Terminal del Norte, Soya, Zamora, Aut MDE BGA. Tenga en cuenta que <br>
                en caso de no avisar en el momento de la reserva, debe llegar al <br>sitio de salida. <br>
                ✅ Actividades Propuestas: <br>
                🕘 6.00 Am: Salida, Estación Industriales, Junto a Punto Clave, <br> sobre la avenida Las Vegas <br>
                - Parada a desayunar (Desayuno No incluido). <br>
                - Traslado en 4x4 La Piñuela - Cañon del Rio verde <br>
                - Inicio Senderismo 14 km Aprox. <br>
                - Baño en la Cascada la Esmeralda <br>
                - Baño en el Rio Santo Domingo. <br>
                - Regreso en 4x4 Río Santo Domingo - La Piñuela <br>
                - Regreso a Medellín. Hasta Industriales <br>
                🕘 9:00 Pm: Hora estimada de Llegada a Medellín. <br>
                ✅ Descripción del Recorrido <br>
                Grado de Dificultad: Nivel 3 (1 a 5) - Medio <br>
                🔜 Senderismo : 14 Kms <br>
                Duración Actividad: 6.00 Horas Con Descansos, tiempo de Almuerzo y <br>tiempo para disfrutar del rio,
                cascadas. <br>
                ⛅ Clima: Cálido con alta humedad. <br>
                ✅ Atractivos <br>
                - ⛅Bosque Húmedo <br>
                - 🌳 Cañón Río Santo Domingo <br>
                - 🌳 Cascada La Esmeralda <br>
                ✅ Incluye: <br>
                - 🚎 Transporte ida y Regreso. <br>
                - 🚎 Traslados en 4x4 <br>
                - 😃 Guía Local <br>
                - 😎 Guías acompañante. <br>
                - 🍲 Almuerzo (Fiambre) - Aporte a la Comunidad Local. <br>
                - 📷 Fotografía <br>
                - 💉 Seguro de Aventura. <br>
                ✅ ¿Qué debo llevar? <br>
                - 🧥Buso para el viaje en Bus <br>
                - 👕Ropa y Zapatos de Cambio. <br>
                - 🧢Bloqueador solar, protector labial, Gorra o Sombrero <br>
                - 💊Botiquín Personal. <br>
                - 🍎Alimentos ricos en fibra y frutas. <br>
                - 💵Dinero en efectivo. <br>
                - 🔵Hidratación, dos litros en promedio <br>
                📜Únicamente mayores de 12 años <br>
                Atendiendo a las actividades que se desarrollan en el curso del <br>viaje (Turismo de Naturaleza) y a
                los riesgos que se desprenden, <br> la participación de menores de edad se restringe a la edad de 11
                <br>años, es decir, solo podrán viajar niños a partir de 12 años de <br>edad y que lo hagan en la
                compañía de sus padres. <br>
              </span>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-logo wow animate__animated animate__fadeIn">
        <img src="../../img/home/logo-remove.png" alt="logo">
      </div>
      <div class="footer-contain">
        <div class="footer-contain__social wow animate__animated animate__fadeIn">
          <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
          <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
          <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
          <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
        </div>
        <div class="footer-contain__message wow animate__animated animate__fadeIn">
          Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
        </div>
      </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
</body>

</html>