<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------- Descriptions & keywords -------------->
    <meta name="description" content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
    <meta name="keywords" content="senderismo, trekking, integración, naturaleza, Venecia">
    <!---------------- Favicon -------------->
    <link rel="shortcut icon" href="../../img/home/favicon.png">
    <!---------------- Fonts -------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <!---------------- animated -------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!---------------- Boostrap -------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!---------------- Boostrap Icons -------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!---------------- CSS -------------->
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Travel House | Senderismo Venecia</title>
</head>
<body>
    <header>
         <!---------------------------- Navbar ------------------------------>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
                      </li>
                <!----------------- Opciones Deportes extremos------------------>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Deportes Extremos
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../deportesExtremos/rioClaro.html">Rio claro</a></li>
                      <li><a class="dropdown-item" href="../deportesExtremos/laCeja.html">La ceja</a></li>
                      <li><a class="dropdown-item" href="../deportesExtremos/sanLuis.html">San luis</a></li>
                    </ul>
                  </li>

                <!----------------- Opciones Tours------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tours
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../tours/murillo.html">Murillo, Tolima</a></li>
                        <li><a class="dropdown-item" href="../tours/islaFuerte.html">Isla Fuerte</a></li>
                        <li><a class="dropdown-item" href="../tours/tatacoa.html">Desierto de la Tatacoa</a></li>
                        <li><a class="dropdown-item" href="../tours/ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                        <li><a class="dropdown-item" href="../tours/chicamocha.html">Cañón del chicamocha</a></li>
                        <li><a class="dropdown-item" href="../tours/amazonas.html">Amazonas</a></li>
                        <li><a class="dropdown-item" href="../tours/sapzurro.html">Sapzurro</a></li>
                      </ul>
                    </li>

                 <!----------------- Opciones Senderismo------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Senderismo
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./melcocho.html">Río Melcocho</a></li>
                        <li><a class="dropdown-item" href="./belmira.html">Páramo de Belmira</a></li>
                        <li><a class="dropdown-item" href="./esmeralda.html">Cascada la esmeralda</a></li>
                        <li><a class="dropdown-item" href="./cisneros.html">Senderismo en Cisneros</a></li>
                        <li><a class="dropdown-item" href="#venecia">Venecia</a></li>
                        <li><a class="dropdown-item" href="./guatape.html">Guatapé</a></li>
                    </ul>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div>
    <main>   
         <!---------------------------- Información ------------------------------>
         <div class="bg-image"></div>
            <section>
                <div class="informacion" id="venecia">
                <h2 class="wow animate__animated animate__fadeIn">🌄 Trekking Cerro Tusa - Venecia 🌄</h2>
                <div class="informacion__lugar">
                    <div class="informacion__lugar-img">
                        <img src="../../img/senderimo/venecia/venecia.jpg" alt="venecia" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/senderimo/venecia/venecia1.jpg" alt="venecia" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/senderimo/venecia/venecia2.jpg" alt="venecia" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/senderimo/venecia/venecia3.jpg" alt="venecia" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/senderimo/venecia/venecia4.jpg" alt="venecia" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/senderimo/venecia/venecia5.jpg" alt="venecia" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/senderimo/venecia/venecia6.jpg" alt="venecia" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/senderimo/venecia/venecia7.jpg" alt="venecia"
                        class="wow animate__animated animate__fadeIn">
                    </div>
                    <div class="informacion__lugar-info wow animate__animated animate__fadeIn">
                        <span>
                            📅Sábado 03 de Septiembre  <br>
                            #Trekking a esta emblemática montaña de Colombia <br>
                            💲 95.000 // 💪 Nivel 4 Medio-Alto // 4.5 Km // Incluye: 🚌  <br>Transporte + 👲 Guianza + 📷 Fotografía + 🏥 Seguro. <br>
                            👉 Separá tu cupo con 💲 50.000 abonando la cuenta Ahorros  <br>Bancolombia Nro: 253-972-664-03 de Medellín Bungee nit 900.613.711. <br>
                            Situada en el Suroeste de Antioquia, famosa entre otras cosas por  <br>estar presente en el Famoso logo de Juan Valdez, se dice que  <br>dentro de ella cabría 3 veces la Pirámide de Giza (Egipto), su  <br>cima está a una altura de 1.850 MSNM, es un lugar ideal para todos <br> los que practicamos senderismo por su alta exigencia y su gran <br> vista sobre sus alrededores. <br>
                            ⏰ Salida: 6:00 A.m desde Medellín. Estación Caribe del Metro,  <br>Junto a la Terminal del Norte. Av Regional <br>
                            Paradas en Estaciones :Industriales, Poblado, Aguacatala, Envigado <br> sobre la autopista Sur. <br>
                            Llegada a Venecia: 8:00 A.m. <br>
                            Definición de estrategias de la caminata, gestión del riesgo,  <br>presentación de Guía principal, medianero y rastrillo. <br>
                            Calentamiento en el parque de Venecia. <br>
                            🔜 Primer Tramo Vía Bolombolo - Base de Cerro Tusa: <br>
                            Tiempo de recorrido: A la base: 1.00 horas- Grado de dificultad  <br>01- Pendiente a la base 3% , distancia en kilómetros aproximado: 1 <br> kms. <br>
                            Campamento Base: Sitio de hidratación, alimentación. <br>
                            🔜 Segundo Tramo: De la Base a la cumbre: 2 horas- Grado de  <br>dificultad 4- Difícil– <br>
                            Pendiente de la base a la cumbre 65%- Distancia aproximada: 1.3 <br> kms, descanso. <br>
                            🔜 Tercer Tramo: Cumbre a Base del Cerro, Tiempo de recorrido:1  <br>hora- Descanso: 1 hora – Almuerzo. <br>
                            🔜 Cuarto Tramo: Estaciones arqueológicas: Tiempo: 2 horas –Grado <br> de dificultad 3. <br>
                            🔜 Final de la caminata Base norte del Cerro Tusa- Carretera <br> Venecia – Bolombolo- Predio Rochiles. Total horas de guianza: 8  <br>horas <br>
                            Incluye: <br>
                            > 🚌 Transporte Medellín - Venecia - Medellín <br>
                            > 😎 Guías acompañantes durante todo el recorrido. <br>
                            > 💉 Equipo y personal de primeros auxilios <br>
                            > 📷 Fotografía via Redes sociales <br>
                            > 💉 Seguro medico con Colasistencia <br>
                            Recomendaciones : <br>
                            > Hidratarse antes, durante y después de la actividad. <br>
                            > Llevar Almuerzo, este lo vamos a consumir en la montaña. <br>
                            > Llevar gafas de sol, bloqueador solar y protector labial. <br>
                            > Portar alimentos ricos en carbohidratos bebidas hidratantes. <br>
                            > Usar ropa de tonos claros y zapatos adecuados para caminar. <br>
                            > Ropa y Zapatos de cambio. <br>
                            > Portar los documentos de identificación. <br>
                            > Morral cómodo. <br>
                            > Capa impermeable (Necesaria en caso de lluvia). <br>
                            > Botiquín personal. <br>
                            > Sombrero, gorra o pañoleta. <br>
                            > Cámara de fotográfica. <br>
                            > Seguir siempre las indicaciones de los guías, no resagarse ni  <br>adelantarse. <br>
                            > ¿Qué debo llevar? <br>
                            - Ropa para clima templado. <br>
                            - Zapatos con buen agarre. <br>
                            - Liquido, unos 2 litros <br>
                            - Almuerzo para consumir en la montaña. <br>
                            - Frutas para consumir antes y durante la actividad. <br>
                            - Guantes para trekking <br>
                            - Usar camibuso <br>
                            - Sombrero / Gorra <br>
                            - Protector Solar, Repelente. <br>
                            - Llevar Cámara de Fotos y/o Video. <br>
                            - Usar prendas deportivas. <br>
                            📜*Únicamente mayores de 15 años* <br>
                            Atendiendo a las actividades que se desarrollan en el curso del  <br>viaje (Turismo de Naturaleza) y a los riesgos que se desprenden, <br> la participación de menores de edad se restringe a la edad de 15  <br>años, es decir, solo podrán viajar niños a partir de 15 años de  <br>edad y que lo hagan en la compañía de sus padres. <br>
                        </span>
                    </div>
                </div>
                </div>
            </section>    
    </main>
    <footer>
      <div class="footer-logo wow animate__animated animate__fadeIn">
        <img src="../../img/home/logo-remove.png" alt="logo">
      </div>
      <div class="footer-contain">
        <div
          class="footer-contain__social wow animate__animated animate__fadeIn"
        >
          <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
          <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
          <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
          <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
        </div>
        <div class="footer-contain__message wow animate__animated animate__fadeIn">
            Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
        </div>
      </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
        new WOW().init();
      </script>
</body>
</html>