footer{
    background-color: $colorBlack;
    color: $colorWhite;
    width: 100%;
    height:120px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.footer-contain{
    margin: 0 auto;
    &__copy{
        font-family: $fontLetters;
        text-align: center;
        margin-top:0.5rem;
    }
    &__social{ 
        button{
            width:40px;
            height:40px;
            font-size: 1.5rem;
            border-radius: 50%;
            margin-left:40px;
            text-align: center;
            background-color: inherit;
            transition: all 0.5s;
            &:hover{
                transform: rotate(45deg);  
            }
            &:nth-child(4) {
                background-color: #1DB954;
                color: #000;
                border: 1px solid #1DB954;
            }
            &:nth-child(3) {
                background-color: #54A1C8;
                color: #fff;
                border: 1px solid #54A1C8;
            }
            &:nth-child(2) {
                background-color: #466BAE;
                color: #fff;
                border: 1px solid #466BAE;
            }
            &:nth-child(1) {
                background: linear-gradient(#515BD4,#8134AF,#DD2A7B,#FEDA77,#F58520 );
                color: #fff;
                border: 1px solid #DD2A7B;
            }
            @media(max-width:400px){
                width:35px;
                height:35px;
                font-size: 1rem;

            }
            @media(max-width:325px){
                width:30px;
                height:30px;
                font-size: 1rem;

            }
            
        }
    }
}
