header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    width: 100%;
    background-color: $colorWhite;
    z-index:999;
}
.container-fluid{
    background-color: $colorWhite;
}
.dropdown-toggle::after{
    display: none;
}

.dropdown-item{
    font-size:$fontTitle;
    margin:10px;
    &:hover{
        color:$colorWhite;
        background-color: #198754;
    }
}
.nav-link{
    font-size:$fontTitle;
    margin-right: 20px;
    transition: transform 0.2s;
    &:hover{
        color:$colorIcon;
        transform: scale(1.1);
    }
    @media(max-width: 990px){
        margin-left: 30px;
        margin-right: 0px;
    }
}