/*------------ hero image------------ */ 

.imagen{
    @include hero-image("../img/home/home.jpg");
}

.imagen__info{
    @include hero-image-info;
}

.imagen__p{
    @include hero-image-p;
}

/*------------ estilos la programación de los proximos meses ------------ */ 

.card__item{
    display: flex;
    font-family: $fontLetters;
    margin: 20px 0;
}

.fecha{
   @extend %flex-col-center;
   &__mes{
    color: $colorRed;
    font-weight: bold;
   }
   &__dia{
    color: $colorBlack;
    font-weight: bold;
   }
}

.evento{
    @extend %flex-col-center;
    margin-left: 2rem;
    &__lugar{
        color: $colorBlack;
        font-weight: bold;
        align-self: flex-start;
    }
    &__fecha{
     color: $colorGrey;
     font-weight: bold;
     align-self: flex-start;
    }
 }

 /*------------ estilos para el acordion ------------ */ 


 .accordion-button:not(.collapsed){
    color: $colorBlack;
    background-color:$colorWhite;
    box-shadow: none;
 }

 .accordion-button:focus{
    box-shadow: none;
 }

 .accordion-flush .accordion-item .accordion-button{
    font-family: $fontTitle;
    font-size: 1.2rem;
 }

 /*------------  botón Whatsapp------------ */ 

 .wsp-button{
    background-color: #25d366;
    color: $colorWhite;
    border: none;
    position: fixed;
    z-index: 999;
    bottom: 1vw;
    right: 2vw;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    @media (max-width: 640px) {
        width: 3rem;
        height: 3rem;
    }
    &:hover{
        text-decoration: none;
        color: $colorWhite;
        background-color: darken(#25d366, 5%);
    }
    i{
        font-size: 35px;
        @media (max-width: 640px) {
            font-size: 32px;
        }
    }
 }