///-------Colors----------///

$colorWhite:#fff;
$colorBlack:#000;
$colorIcon:#198754;


///-------Fonts----------///

$fontTitle: 'Zilla Slab', serif;
$fontLetters:'Quicksand', sans-serif;


///-------sizez----------///