///-------Colors----------///

$colorWhite:#fff;
$colorBlack:#000;
$colorIcon:#198754;
$colorRed:#fa3e3e;
$colorGrey:#90949c;


///-------Fonts----------///

$fontTitle: 'Zilla Slab', serif;
$fontLetters:'Quicksand', sans-serif;


///-------sizez----------///