//------------- Importaciones--------------//

@import"variables";
@import"extend";
@import"mixin";
@import"home";
@import"header";
@import"footer";
@import"contacto";
@import"blog";
@import"tienda";
@import"404";
/*------------ Reseteo------------ */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media(max-width:650px){
    .imagen__p{
        font-size: 3rem; 
    }
}

/*------------ contenido main ------------ */ 


main{
    position: relative;
}


.contenido{
    font-family: $fontTitle;
    padding-top:40px;
    width: 90%;
    margin: auto;
    background-color: $colorWhite;
    &__info{
        margin:2rem auto 0 auto;
        width: 95%;
    }

    &__info-text{
        width: 95%;
        margin:0 auto;
        text-align:justify;
        h2{
            font-family: $fontTitle;
        }
        p{
            font-family: $fontLetters;
        }
    }
    &__info-card{
        border: 1px gray solid;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
        padding: 20px;
        margin-top: 20px;
        font-family: $fontLetters;
        h2{
            font-family: $fontTitle;
        }
    }
    &__viajes{
        width: 95%;
        margin:0 auto;
        text-align:justify;
        h2{
            font-family: $fontTitle;
        }
    }
    &__map{
        font-family: $fontLetters;
        width: 100%;
        h2{
            font-family: $fontTitle;
            width: 95%;
            margin: 0 auto 2rem auto;
        }
    }
    &__condiciones{
        width: 95%;
        margin:0 auto;
        font-family: $fontLetters;
        h2{
            font-family: $fontTitle;
        }
    }
    &__formulario {
        width: 95%;
        margin:0 auto;
        font-family: $fontTitle;
    }
    &__tienda{
        padding-top: 60px;
        width: 95%;
        margin:0 auto;
        font-family: $fontTitle;
    }
    &__blog{
        padding-top: 60px;
        width: 95%;
        margin: 0 auto;
        font-family: $fontTitle;
    }
    &__p{
        margin: 0;
        font-size: $fontLetters;
    }
    &__imagenes{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        @media (max-width: 1220px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 950px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 640px) {
            grid-template-columns: 1fr;
        }
        img{
            border: 2px solid #000;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 40px;
            @include image-box(200px, 200px);
            @media (max-width: 640px) {
                justify-self:center;
                height:300px;
                width: 300px;
            }
        }
    }
}  

/*------------ Imagén de fondo (para todas las vistas) ------------ */ 


.bg-image{
    background: url("../img/home/fondo.jpg") center/cover;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    @extend %flex-row-center;
    z-index: -1;
    opacity: 0.2;
}


/*------------ información e imagenes de los viajes ------------ */ 

.informacion{
    padding-top:9rem;
    margin:0 auto;
    width: 90%;
    background-color: $colorWhite;
    h2{
        font-family: $fontTitle;
        text-align: center;
        padding-bottom: 1rem;
    }
    &__lugar{
        display: grid;
        grid-template-columns: 50% 50%;
        @media (max-width: 570px) {
            width: 100%;
            display:flex;
            flex-direction:column-reverse;
        }
    }
    &__lugar-info{
        width:90%;
        font-family:$fontLetters;
        text-align: justify;
        padding-bottom: 2rem;
        p{
            margin:0;
        }
        @media (max-width: 570px) {
           align-self: center;
        }
    }
    &__lugar-img{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: start;
        @media (max-width: 1050px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 570px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 450px) {
            grid-template-columns: 1fr;
        }
        img{
            justify-self: center;
            border: 2px solid #000;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            @include image-box(200px, 200px);
            @media (max-width: 1050px) {
                height:220px;
                width: 220px;
                align-self: center;
            }
            @media (max-width: 570px) {
                height:180px;
                width: 180px;
            }
            @media (max-width: 450px) {
                height:220px;
                width: 220px;
                align-self: center;
            }
        }
    }
}

