//------------- Importaciones--------------//

@import"variables";
@import"header";
@import"home";
@import"footer";

/*------------ Reseteo------------ */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media(max-width:650px){
    .imagen__p{
        font-size: 3rem; 
    }
}

/*------------ contenido main ------------ */ 

main{
    position: relative;
}

.bg-image{
    background: url("https://scontent.feoh8-1.fna.fbcdn.net/v/t39.30808-6/295679174_8059259380758459_1510790771712869304_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=0debeb&_nc_ohc=xBSRthOkZI4AX92i7C1&_nc_ht=scontent.feoh8-1.fna&oh=00_AT-kwSpelCpTK2Mev3eS31hJiRwQdCdVSr1dTXjb_SGSqQ&oe=62FF7D72") center/cover;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0.2;
}

.informacion{
    padding-top:9rem;
    margin:0 auto;
    width: 90%;
    background-color: $colorWhite;
    h2{
        font-family: $fontTitle;
        text-align: center;
        padding-bottom: 1rem;
    }
    &__lugar{
        display: grid;
        grid-template-columns: 50% 50%;
        @media (max-width: 570px) {
            width: 100%;
            display:flex;
            flex-direction:column-reverse;
        }
    }
    &__lugar-info{
        width:90%;
        font-family:$fontLetters;
        text-align: justify;
        padding-bottom: 2rem;
        p{
            margin:0;
        }
        @media (max-width: 570px) {
           align-self: center;
        }
    }
    &__lugar-img{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: start;
        @media (max-width: 1050px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 570px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 450px) {
            grid-template-columns: 1fr;
        }
        img{
            justify-self: center;
            border: 2px solid #000;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            height:200px;
            width: 200px;
            object-fit: cover;
            object-position: center;
            @media (max-width: 1050px) {
                height:220px;
                width: 220px;
                align-self: center;
            }
            @media (max-width: 570px) {
                height:180px;
                width: 180px;
            }
            @media (max-width: 450px) {
                height:220px;
                width: 220px;
                align-self: center;
            }
        }
    }
}
