//------------- Importaciones--------------//

@import"variables";
@import"mixin";
@import"extend";
@import"home";
@import"header";
@import"footer";

/*------------ Reseteo------------ */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media(max-width:650px){
    .imagen__p{
        font-size: 3rem; 
    }
}

/*------------ contenido main ------------ */ 

main{
    position: relative;
}

.bg-image{
    background: url("../img/home/fondo.jpg") center/cover;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    @extend %flex-row-center;
    z-index: -1;
    opacity: 0.2;
}

.informacion{
    padding-top:9rem;
    margin:0 auto;
    width: 90%;
    background-color: $colorWhite;
    h2{
        font-family: $fontTitle;
        text-align: center;
        padding-bottom: 1rem;
    }
    &__lugar{
        display: grid;
        grid-template-columns: 50% 50%;
        @media (max-width: 570px) {
            width: 100%;
            display:flex;
            flex-direction:column-reverse;
        }
    }
    &__lugar-info{
        width:90%;
        font-family:$fontLetters;
        text-align: justify;
        padding-bottom: 2rem;
        p{
            margin:0;
        }
        @media (max-width: 570px) {
           align-self: center;
        }
    }
    &__lugar-img{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: start;
        @media (max-width: 1050px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 570px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 450px) {
            grid-template-columns: 1fr;
        }
        img{
            justify-self: center;
            border: 2px solid #000;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            @include image-box(200px, 200px);
            @media (max-width: 1050px) {
                height:220px;
                width: 220px;
                align-self: center;
            }
            @media (max-width: 570px) {
                height:180px;
                width: 180px;
            }
            @media (max-width: 450px) {
                height:220px;
                width: 220px;
                align-self: center;
            }
        }
    }
}
