<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!---------------- Descriptions & keywords -------------->
  <meta name="description"
    content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
  <meta name="keywords"
    content="bungee jumping, senderismo, trekking, paracaidismo, rapel, excursiones, viajes, vacaciones, playa, naturaleza">
  <!---------------- Favicon -------------->
  <link rel="shortcut icon" href="../../img/home/favicon.png">
  <!---------------- Fonts -------------->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap"
    rel="stylesheet">
  <!---------------- animated -------------->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <!---------------- Boostrap -------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!---------------- Boostrap Icons -------------->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!---------------- CSS -------------->
  <link rel="stylesheet" href="../../css/styles.css">
  <title>Travel House | Viajes, Sedenderimos, Bungee Jumping, paracaidismo y mucho más</title>
</head>

<body>
  <header>
    <!---------------------------- Navbar ------------------------>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link wow animate__animated animate__fadeIn" aria-current="page"
                href="../../index.html">Home</a>
            </li>
            <!----------------- Opciones Deportes extremos------------->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Deportes Extremos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../deportesExtremos/rioClaro.html">Rio claro</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/laCeja.html">La ceja</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/sanLuis.html">San luis</a></li>
              </ul>
            </li>

            <!----------------- Opciones Tours------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Tours
              </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../tours/murillo.html">Murillo, Tolima</a></li>
                <li><a class="dropdown-item" href="../tours/islaFuerte.html">Isla Fuerte</a></li>
                <li><a class="dropdown-item" href="../tours/tatacoa.html">Desierto de la Tatacoa</a></li>
                <li><a class="dropdown-item" href="../tours/ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                <li><a class="dropdown-item" href="../tours/chicamocha.html">Cañón del chicamocha</a></li>
                <li><a class="dropdown-item" href="../tours/amazonas.html">Amazonas</a></li>
                <li><a class="dropdown-item" href="../tours/sapzurro.html">Sapzurro</a></li>
              </ul>
            </li>

            <!----------------- Opciones Senderismo------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Senderismo
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../senderismo/melcocho.html">Río Melcocho</a></li>
                <li><a class="dropdown-item" href="../senderismo/belmira.html">Páramo de Belmira</a></li>
                <li><a class="dropdown-item" href="../senderismo/esmeralda.html">Cascada la esmeralda</a></li>
                <li><a class="dropdown-item" href="../senderismo/cisneros.html">Senderismo en Cisneros</a></li>
                <li><a class="dropdown-item" href="../senderismo/venecia.html">Venecia</a></li>
                <li><a class="dropdown-item" href="../senderismo/guatape.html">Guatapé</a></li>
              </ul>
            </li>
            <!----------------- Opcion Contacto------------------>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn"
                href="./views/contacto/contacto.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nosotros
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./contacto.html">Contacto</a></li>
                <li><a class="dropdown-item" href="#blog">Blog</a></li>
                <li><a class="dropdown-item" href="./tienda.html">Tienda</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div>
    <main>
      <div class="bg-image"></div>

      <!---------------------- Blog---------------------->

      <section class="contenido">
        <div class="contenido__blog" style="margin:0 auto">
          <h2 class=" wow animate__animated animate__fadeIn">Blog</h2>
          <div class="card mt-4" style="width: 100%; height:auto;">
            <div class="card-body wow animate__animated animate__fadeIn">
              <h5 class="card-title" style="font-weight: bold;">Guatapé</h5>
              <p class="card-text" style="text-align: justify;">Eso es lo que debió pensar uno de sus amigos, que le
                aseguró que, en su tour por
                Sudamérica, no podía dejar de visitarlo. "Dijo que era uno de sus sitios favoritos del planeta. Una
                vez que llegué allí ¡entendí por qué! ".
                Lo primero que me llamó la atención fue, obviamente, lo colorido de los edificios. Era diferente a
                cualquier cosa que había visto antes. Los colores combinaban perfectamente con el precioso
                empedrado, y como fotógrafa, me di cuenta de que sería un lugar perfecto para tomar instantáneas. De
                hecho, cada esquina que doblaba era una nueva y alucinante foto esperando a que apretara el
                disparador.</p>
            </div>
          </div>
          <div class="card mt-4" style="width: 100%; height:auto;">
            <div class="card-body wow animate__animated animate__fadeIn">
              <h5 class="card-title" style="font-weight: bold;">¿Es seguro viajar a Colombia? Las respuestas a todas
                tus dudas</h5>
              <p class="card-text" style="text-align: justify;">Los primeros días durante mi ruta por Colombia la
                sensación fue extraña. Estaba
                conociendo lugares alucinantes y no sucedía nada malo a mi alrededor. Al contrario, todo amabilidad
                y buena vibra. Sin embargo, no podía evitar estar siempre alerta. ¿Será este lugar peligroso? ¿Me
                están mirando a mí, al móvil, a mi cámara?. Paranoia total.

                La cuestión es que Colombia ha sufrido tanto (tantísimo) que toda precaución es poca. Los
                colombianos quieren proteger al turista a toda costa (a veces en exceso) con un montón de consejos,
                recomendaciones y alertas. Vale. Entonces, ¿me puede pasar algo en Colombia?. Por supuesto que sí,
                en Madrid, París y Londres también. Pero este precioso país tiene algunas particularidades que es
                preciso señalar. Colombia, un país marcado por la violencia,Es realmente difícil entender qué es lo
                que ha llevado al pueblo colombiano a una situación tan grave como la que han vivido en las últimas
                décadas. Me lo explicaron y escuché diferentes puntos de vista. Pero, aún así, resulta complicado
                comprender el intrincado de violencia y terror inflingido por narcotraficantes, guerrilleros,
                paramilitares y un montón de actores que no han hecho más que complicar la situación. Llegaron hasta
                extremos insospechados.

                Actualmente, están renaciendo de sus cenizas. Se encuentran en pleno proceso de paz entre el
                Gobierno y las guerrillas más importantes. No me voy a meter en temas que no me corresponden, pero
                es evidente que les queda un largo camino por delante. Aún así, lo que está más que claro es que los
                colombianos quieren la paz. </p>
            </div>
          </div>
          <div class="card mt-4" style="width: 100%; height:auto;">
            <div class="card-body wow animate__animated animate__fadeIn">
              <h5 class="card-title" style="font-weight: bold;">Qué ver en Colombia</h5>
              <p class="card-text" style="text-align: justify;">La riqueza natural, cultural y patrimonial de
                Colombia es impresionante. Grandes ciudades, destinos de playa, montaña, selva y encantadores
                pueblos de mil colores. ¡Este país lo tiene todo! (o casi todo) Por ello, hoy te traigo un artículo
                muy completo con los principales destinos que ver en Colombia. </p>
              <p>
                <b>Cartagena de Indias:</b>¡Una maravillosa locura! Esta frase resume mi opinión y mi experiencia en
                la hermosa ciudad colonial de Cartagena de Indias, la más bonita y mejor conservada de América. Una
                urbe exquisita en la que dejarse llevar sin rumbo por la belleza de sus coloridas calles es casi una
                asignatura obligatoria.
              </p>
              <p>
                <b>Santa Marta y el Tayrona:</b> Una ciudad colonial con mucho encanto y, además, punto perfecto
                para organizar la excursión a uno de los lugares más bellos que ver en Colombia, el Parque Nacional
                Natural Tayrona. Te lo prometo, la ciudad de Santa Marta es una gozada no sólo por su bellísima
                arquitectura colonial, también por su ambiente callejero y por su espectacular entorno. A mi me
                gustó muchísimo.

                En cuanto al Parque Tayrona, se puede visitar de dos maneras, o bien haciendo noche allí mismo y
                disfrutándolo con calma o bien a través de excursiones organizadas (o por libre) desde San Marta de
                ida y vuelta en el mismo día.
              </p>
              <p>
                <b>Desierto de la Tatacoa:</b> En este increíble desierto los tonos ocres y rojizos tiñen por
                completo un terreno que se retuerce en formas imposibles. Una verdadera obra de arte de la madre
                naturaleza que podrás disfrutar a través de miradores y de rutas de senderismo. Además de ser un
                lugar para flipar con sus formas y colores, el Desierto de la Tatacoa es también un destino ideal
                para la observación de estrellas.
              </p>
            </div>
          </div>
          <div class="card mt-4" style="width: 100%; height:auto;">
            <div class="card-body wow animate__animated animate__fadeIn">
              <h5 class="card-title" style="font-weight: bold;">Lo mejor del Eje Cafetero</h5>
              <p class="card-text" style="text-align: justify;">El Eje Cafetero es una zona muy extensa que, por sí
                sola, merece dedicarle varios días.¿El plan? Visitar un pueblo con encanto, caminar entre paisajes
                increíbles y descubrir los secretos del exquisito café de Colombia. Nada mal ¿verdad?.El Eje
                Cafetero es una región colombiana situada en el este del país, entre Medellín al norte y Cali al
                sur.Qué ver en Salento: lo mejor del Eje Cafetero
                Estamos ante el pueblo más famoso y turístico de todo el Eje Cafetero de Colombia. Y no es de
                extrañar. El pequeño pueblo de Salento parece salido del lienzo de un pintor. Estrechas callejuelas
                repletas de casitas de colores, música y buen ambiente por todas partes. Todo esto envuelto en un
                entorno maravilloso. Descubrirás todas las tonalidades de verde rodeando el que para mi es uno de
                los pueblos más bonitos de Colombia.

                No te llevará mucho tiempo descubrir los lugares de visita imprescindible de Salento. Pero te
                aconsejo que lo hagas con tranquilidad, que lo saborees y disfrutes del momento. Un buen lugar para
                comenzar es subir hasta los miradores de la parte alta de la localidad: el mirador de Salento y el
                mirador Alto de la Cruz. Fue justo aquí donde me di cuenta de un detalle. </p>
              <p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-logo wow animate__animated animate__fadeIn">
        <img src="../../img/home/logo-remove.png" alt="logo">
      </div>
      <div class="footer-contain">
        <div class="footer-contain__social wow animate__animated animate__fadeIn">
          <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
          <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
          <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
          <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
        </div>
        <div class="footer-contain__message wow animate__animated animate__fadeIn">
          Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
        </div>
      </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
</body>

</html>