<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!---------------- Descriptions & keywords -------------->
  <meta name="description"
    content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
  <meta name="keywords"
    content="bungee jumping, senderismo, trekking, paracaidismo, rapel, excursiones, viajes, vacaciones, playa, naturaleza">
  <!---------------- Favicon -------------->
  <link rel="shortcut icon" href="../../img/home/favicon.png">
  <!---------------- Fonts -------------->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap"
    rel="stylesheet">
  <!---------------- animated -------------->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <!---------------- Boostrap -------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!---------------- Boostrap Icons -------------->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!---------------- CSS -------------->
  <link rel="stylesheet" href="../../css/styles.css">
  <title>Travel House | Viajes, Sedenderimos, Bungee Jumping, paracaidismo y mucho más</title>
</head>

<body>
  <header>
    <!---------------------------- Navbar ------------------------>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link wow animate__animated animate__fadeIn" aria-current="page"
                href="../../index.html">Home</a>
            </li>
            <!----------------- Opciones Deportes extremos------------->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Deportes Extremos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../deportesExtremos/rioClaro.html">Rio claro</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/laCeja.html">La ceja</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/sanLuis.html">San luis</a></li>
              </ul>
            </li>

            <!----------------- Opciones Tours------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Tours
              </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../tours/murillo.html">Murillo, Tolima</a></li>
                <li><a class="dropdown-item" href="../tours/islaFuerte.html">Isla Fuerte</a></li>
                <li><a class="dropdown-item" href="../tours/tatacoa.html">Desierto de la Tatacoa</a></li>
                <li><a class="dropdown-item" href="../tours/ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                <li><a class="dropdown-item" href="../tours/chicamocha.html">Cañón del chicamocha</a></li>
                <li><a class="dropdown-item" href="../tours/amazonas.html">Amazonas</a></li>
                <li><a class="dropdown-item" href="../tours/sapzurro.html">Sapzurro</a></li>
              </ul>
            </li>

            <!----------------- Opciones Senderismo------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Senderismo
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../senderismo/melcocho.html">Río Melcocho</a></li>
                <li><a class="dropdown-item" href="../senderismo/belmira.html">Páramo de Belmira</a></li>
                <li><a class="dropdown-item" href="../senderismo/esmeralda.html">Cascada la esmeralda</a></li>
                <li><a class="dropdown-item" href="../senderismo/cisneros.html">Senderismo en Cisneros</a></li>
                <li><a class="dropdown-item" href="../senderismo/venecia.html">Venecia</a></li>
                <li><a class="dropdown-item" href="../senderismo/guatape.html">Guatapé</a></li>
              </ul>
            </li>
            <!----------------- Opcion Contacto------------------>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn"
                href="./views/contacto/contacto.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contacto
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#contacto">Contacto</a></li>
                <li><a class="dropdown-item" href="./blog.html">Blog</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div>
    <!---------------------------- Hero image ------------------------------>
    <main>
      <section class="imagen-contacto">
        <div class="imagen-contacto__info wow animate__animated animate__bounceInRight">
          <p class="imagen-contacto__p">Bungee Jumping</p>
          <p class="imagen-contacto__p">Senderismo</p>
          <p class="imagen-contacto__p">Paracaidismo</p>
          <p class="imagen-contacto__p">Rapel</p>
          <p class="imagen-contacto__p">Viajes</p>
        </div>
      </section>
      <div class="bg-image"></div>
      <section class="contenido" id="contacto">
        <!---------------------------- Formulario ------------------------------>
        <h2 class="contenido__formulario wow animate__animated animate__fadeIn">Escríbenos</h2>
        <form class="nosotros" action="">
          <div class="nosotros__info wow animate__animated animate__fadeIn">
            <label class="nosotros__label" for="nombre">Nombre <span class="required">*</span></label>
            <input class="nosotros__input" type="text" name="nombre" required />
          </div>
          <div class="nosotros__info wow animate__animated animate__fadeIn">
            <label class="nosotros__label" for="edad">Apellidos<span class="required">*</span></label>
            <input class="nosotros__input" type="text" name="apellido" required />
          </div>
          <div class="nosotros__info wow animate__animated animate__fadeIn">
            <label class="nosotros__label" for="email">Correo electrónico
              <span class="required">*</span>
            </label>
            <input class="nosotros__input" type="email" name="email" required />
          </div>
          <div class="nosotros__info wow animate__animated animate__fadeIn">
            <label class="nosotros__label" for="numero">Número de contacto</label>
            <input class="nosotros__input" type="numero" name="numero" />
          </div>
          <div class="nosotros__info wow animate__animated animate__fadeIn">
            <label class="nosotros__label" for="comentario">Mensaje<span class="required">*</span></label> <br />
            <textarea class="nosotros__textarea" name="comentario" id="" cols="30" rows="10"
              placeholder="Cuéntanos que información necesitas sobre nuestros productos" required></textarea>
          </div>
          <input class="nosotros__submit wow animate__animated animate__fadeIn" type="submit" value="Enviar" />
        </form>
      </section>
      <!---------------------- Condiciones---------------------->
      <section class="contenido">
        <div class="contenido__condiciones">
          <h2 class="wow animate__animated animate__fadeIn">Condiciones</h2>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">

              <!------------------- Horario de atención------------------->

              <h2 class="accordion-header wow animate__animated animate__fadeIn" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  🕒 HORARIO DE ATENCIÓN
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body wow animate__animated animate__fadeIn">
                  📅Lunes a viernes: 8:00 Am. - 6:00 Pm. <br>
                  Sábado: 8:00 Am. a 2:00 Pm. <br>
                  Domingos y Festivos no se atienden reservas. <br>
                  📲 310 753 90 61 Travel House <br>
                  📲 300 620 71 23 Travel House <br>
                  📲 312 276 43 27 Jhon Guzmán <br>
                  📜 Para Reservas Verificar disponibilidad antes del pago.<br>
                  💳 Se reciben transferencias, consignaciones o traslados por la APP del Banco, Verificar
                  disponibilidad de cupos antes de realizar el pago.<br>
                  💲 Reserva: $ 150.000 Por persona, el resto del dinero en Efectivo nosotros pasamos por él, o el día
                  del evento según acuerdo con los organizadores. <br>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header wow animate__animated animate__fadeIn" id="headingTwo">

                <!------------- Condiciones del viaje-------------->

                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ✋ CONDICIONES DEL VIAJE
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  🔘 El evento puede verse cancelado o postergado por los siguientes motivos sin que esto de motivo a
                  indemnización por parte de los organizadores.
                  - Problemas de orden público en la vía al Municipio o en la zona de la actividad. <br>
                  - Clima: vientos fuertes, aproximación de tormentas que puedan poner en riesgo a los participantes.
                  <br>
                  - Derrumbes, manifestaciones en la vía, paros, fallas técnicas del vehículo o cualquier otro motivo
                  que impidan llegar al sitio de partida de la actividad. <br>
                  🔘 La asignación de sillas en el bus es libre, de acuerdo vayan llegando las personas se van ubicando,
                  recomendamos presentar con tiempo en el sitio y hora estipulados, estos puestos se deben conservar
                  para los traslados y el viaje de regreso. <br>
                  🔘 Tenga en cuenta que somos una empresa de turismo de aventura, motivo por el cual no podemos viajar
                  con menores de 10 años, y, los menores de edad (entre 10 y 18 años) deben tener autorización de ambos
                  padres firmada y con huella, fotocopias de las cédulas, fotocopia de la tarjeta de identidad y debe ir
                  acompañado por uno de ellos. <br>
                  🔘 Travel House cancelará con previo aviso el viaje cuando este no reúna el número mínimo de personas
                  para realizar la salida. o podrá prorrogar o aplazar el programa turístico si así lo conviene con el
                  viajero.<br>
                  🔘 Los sitios de salida y llegada son establecidos por los organizadores del evento. <br>
                  🔘 En caso de tener reserva para una caminata y no poder efectuarla, únicamente se hará devolución del
                  dinero a la persona titular de la reserva cuando cancele con 48 horas de anticipación respecto a la
                  hora de la salida y dentro del horario de atención establecido, de lo contrario, perderá el depósito
                  que tenga hasta el momento. Solo se hace excepción cuando se presenta calamidad domestica comprobada o
                  incapacidad médica por lesiones o enfermedades graves.. <br>
                  🔘 Cuando se presentan retrasos por eventualidades en carreteras Travel House no asume el tiempo
                  perdido, ni los gastos extras ocasionados. Los organizadores no pueden controlar retrasos por
                  variables externas.<br>
                  🔘 No se hace devolución una vez la inicie el viaje y la persona no asista, o, cuando se le presenta
                  alguna eventualidad que le obligue a retirarse de éste. <br>
                  🔘 No olvide portar siempre sus documentos de identidad y su carné de la E.P.S. en caso de accidente
                  esta lo debe atender en primera instancia para mayor cubrimiento. <br>
                  🔘 El cumplimiento y puntualidad en los itinerarios establecidos, son esenciales para el éxito del
                  viaje. Los guías están autorizados a dejar a las personas que no cumplan esta norma. <br>
                  🔘 La mala conducta o el comportamiento que interfiera en el desarrollo normal del itinerario, puede
                  ocasionarle el retiro del programa. Conductas de alcoholismo y drogadicción comprobadas, lo conllevara
                  al retiro del viaje. <br>
                  🔘 Si se presentan daños materiales ocasionados por el viajero en sitios de alojamiento, estadía y
                  vehículos, estos deberán ser asumidos por el causante. <br>
                  🔘 Travel House S.A.S NO se hace responsable por elementos perdidos u olvidados durante el transcurso
                  de los eventos por descuido o negligencia del propietario, recuerde que sus pertenencias están bajo su
                  responsabilidad en lugares públicos, dentro de los hospedajes debe procurar mantener la habitación
                  cerrada y durante los traslados en bus, sólo nos hacemos responsables de los elementos cargados en la
                  bodega del vehículo, aquel equipaje que el propietario decida llevar de mano, es netamente su
                  responsabilidad. <br>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header wow animate__animated animate__fadeIn" id="headingThree">

                <!----------- Devoluciones y reembolso----------------->

                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  🛑 DEVOLUCIONES Y REEMBOLSOS 🛑
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  🗂 En caso de no asistir, tenga en cuenta que:🗂 <br>
                  ☑ PARA VIAJES: <br>
                  1) Si usted notifica al menos con 30 días anteriores previos al inicio del viaje podrá recibir un
                  reembolso del 70% del valor abonado. <br>
                  2) Si usted notifica con un tiempo inferior a 30 días previos al inicio del viaje, podrá recibir un
                  reembolso del 40% del valor abonado. <br>
                  3) En caso de no realizar la notificación mínimo 15 días antes de la salida, no habrá devolución ni
                  reembolso alguno. <br>
                  ☑ PARA EVENTOS DE UN DÍA <br>
                  Bungee Jumping, Senderismo, Torrentismo, Canopy. <br>
                  1) Si usted notifica al menos 48 horas previas al inicio de la actividad, podrá recibir un reembolso
                  por la totalidad o dejar el dinero abonado para un evento futuro, sujeto a disponibilidad. <br>
                  2) Si usted notifica dentro de las 48 horas previas al inicio del evento no habrá lugar a devoluciones
                  pero podrá realizar el cambio de datos para el evento en la fecha que reservó si encuentra reemplazo.
                  <br>
                  3) En caso de no realizar la notificación con al menos 24 horas de anticipación, no habrá lugar a
                  devoluciones ni cambios. <br>
                  ✅ Excepciones: <br>
                  1) Se devolverá el 50% del valor total del evento si y solo si ya ha cancelado dicho valor (NO APLICA
                  SOBRE VALOR DE RESERVA) sin restricción alguna, en caso de calamidad doméstica comprobada (Se entiende
                  por calamidad doméstica, todo suceso familiar cuya gravedad afecte el normal desarrollo de las
                  actividades del funcionario, como el fallecimiento, enfermedad o lesión grave de sus parientes hasta
                  el cuarto grado de consanguinidad, segundo de afinidad o primero civil, del cónyuge, compañero o
                  compañera), si y solo si, da aviso dentro de los horarios de atención establecidos por los
                  organizadores. <br>
                  2) Se devolverá el 50% del valor total del evento si y solo si ya ha cancelado dicho valor (NO APLICA
                  SOBRE VALOR DE RESERVA), sin restricción alguna, en caso de enfermedad o lesión grave con escusa
                  médica de la EPS y que comprenda antes del inicio de la actividad. (Se considera enfermedad grave,
                  toda alteración del estado de la salud provocada por un accidente o enfermedad que pongan en riesgo a
                  la persona, confirmada por un médico perito legalmente reconocido y que coincida con alguna de las
                  definidas como enfermedades graves. <br>
                  Se considera lesión grave, al tipo de lesiones que a menudo requieren de tratamientos médicos a largo
                  plazo, incluso generando consecuencias de por vida para las personas). <br>
                  3) Se devolverá el 100% del valor abonado en caso tal que el evento se vea cancelado por parte de
                  Travel House, siempre y cuando sean causas donde medie culpa de Travel House, y que impidan que se
                  pueda efectuar la actividad. En caso contrario no habrá lugar a reembolsos u otras compensaciones <br>
                  4) Los eventos de senderismo, torrentismo, rapel y bungee el cliente puede cancelar su asistencia
                  hasta dos días antes del evento, en caso de no hacerlo, NO se hace devolución del valor abonado. <br>
                  5) En caso de que el evento deba ser reprogramado por causas ajenas a Travel House (como por ejemplo
                  decisiones del Gobierno Nacional, pandemias, terremotos, desastres naturales, entre otros) y el
                  participante no pueda o no quiera asistir en la nueva fecha estipulada o con posterioridad, se hará
                  devolución del 50% del valor abonado para la reserva. <br>
                  Rechazamos la explotación sexual, comercial de niñas, niños y adolescentes y estamos comprometidos con
                  la divulgación y cumplimiento de la Ley 1336 y 1329 de 2009. <br>
                  Travel House SAS, RNT 95404 <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!---------------------- Visitanos en (mapa) ---------------------->
      <section class="contenido">
        <div class="contenido__map wow animate__animated animate__fadeIn">
          <h2>Visitanos en</h2>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0868896455067!2d-75.62341511020115!3d6.252281613580311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4429239217ecd7%3A0x4329e8d0ec2a734a!2sBungee%20Jumping%20Medellin%20Represa%20Porce%20III!5e0!3m2!1sen!2sco!4v1660607844299!5m2!1sen!2sco"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-logo wow animate__animated animate__fadeIn">
        <img src="../../img/home/logo-remove.png" alt="logo">
      </div>
      <div class="footer-contain">
        <div class="footer-contain__social wow animate__animated animate__fadeIn">
          <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
          <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
          <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
          <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
        </div>
        <div class="footer-contain__message wow animate__animated animate__fadeIn">
          Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
        </div>
      </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
</body>

</html>