<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------- Descriptions & keywords -------------->
    <meta name="description" content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
    <meta name="keywords" content="viajes, senderismo, trekking, vacaciones, canopy, Salto del buey, La ceja, naturaleza, integración">
    <!---------------- Favicon -------------->
    <link rel="shortcut icon" href="../../img/home/favicon.png">
    <!---------------- Fonts -------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <!---------------- animated -------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!---------------- Boostrap -------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!---------------- Boostrap Icons -------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!---------------- CSS -------------->
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Travel House | Rio Claro</title>
</head>
<body>
    <header>
         <!---------------------------- Navbar ------------------------------>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
                      </li>
                <!----------------- Opciones Deportes extremos------------------>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Deportes Extremos
                    </a>

                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="./rioClaro.html">Rio claro</a></li>
                      <li><a class="dropdown-item" href="#laCeja">La ceja</a></li>
                      <li><a class="dropdown-item" href="./sanLuis.html">San luis</a></li>
                    </ul>
                  </li>

                <!----------------- Opciones Tours------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tours
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../tours/murillo.html">Murillo, Tolima</a></li>
                        <li><a class="dropdown-item" href="../tours/islaFuerte.html">Isla Fuerte</a></li>
                        <li><a class="dropdown-item" href="../tours/tatacoa.html">Desierto de la Tatacoa</a></li>
                        <li><a class="dropdown-item" href="../tours/ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                        <li><a class="dropdown-item" href="../tours/chicamocha.html">Cañón del chicamocha</a></li>
                        <li><a class="dropdown-item" href="../tours/amazonas.html">Amazonas</a></li>
                        <li><a class="dropdown-item" href="../tours/sapzurro.html">Sapzurro</a></li>
                      </ul>
                    </li>

                 <!----------------- Opciones Senderismo------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Senderismo
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../senderismo/melcocho.html">Río Melcocho</a></li>
                        <li><a class="dropdown-item" href="../senderismo/belmira.html">Páramo de Belmira</a></li>
                        <li><a class="dropdown-item" href="../senderismo/esmeralda.html">Cascada la esmeralda</a></li>
                        <li><a class="dropdown-item" href="../senderismo/cisneros.html">Senderismo en Cisneros</a></li>
                        <li><a class="dropdown-item" href="../senderismo/venecia.html">Venecia</a></li>
                        <li><a class="dropdown-item" href="../senderismo/guatape.html">Guatapé</a></li>
                    </ul>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div>
    <main>   
         <!---------------------------- Información ------------------------------>
         <div class="bg-image"></div>
            <section>
                <div class="informacion" id="laCeja">
                <h2 class="wow animate__animated animate__fadeIn">🌳 Canopy Salto Del Buey - La Ceja 🌳</h2>
                <div class="informacion__lugar">
                    <div class="informacion__lugar-img">
                        <img src="../../img/deportesExtremos/laCeja/ceja.jpg" alt="laCeja" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/deportesExtremos/laCeja/ceja1.jpg" alt="laCeja" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/deportesExtremos/laCeja/ceja2.jpg" alt="laCeja" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/deportesExtremos/laCeja/ceja3.jpg" alt="laCeja" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/deportesExtremos/laCeja/ceja4.jpg" alt="laCeja" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/deportesExtremos/laCeja/ceja5.jpg" alt="laCeja" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/deportesExtremos/laCeja/ceja6.jpg" alt="laCeja" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/deportesExtremos/laCeja/ceja7.jpg" alt="laCeja" class="wow animate__animated animate__fadeIn">
                    </div>
                    <div class="informacion__lugar-info wow animate__animated animate__fadeIn">
                        <span>
                          📆 Domingo 25 de Septiembre<br>
                            💲130.000 COP<br>
                            Incluye: 🚍Transporte Medellín - La Ceja - Medellín + 💪  <br>Senderismo + Guianza + Seguro + 🍛 Almuerzo + Canopy + Fotos. <br>
                            📜 Para Reservas abonar: $ 50.000 por persona en la Cuenta Ahorros  <br>Bancolombia Nro: 253-972-664-03. <br>
                            Vamos a recorrer la zona de cascadas mas grande de Colombia, que <br> se encuentra ubicada en el Oriente de Antioquia entre los  <br>municipios de La Ceja y Abejorral.  <br>
                            > Descripción de la Ruta: <br>
                            - Grado de dificultad: <br>
                            Primer Tramo: 6 Kms - Nivel I <br>
                            Segundo Tramo: 1 Km - Nivel IV <br>
                            - Distancia: 7 Kms <br>
                            - 🔆Clima: Templado <br>
                            - Duración: 5 Horas Aproximadamente. <br>
                            🕒 Salida: 6:00 A.m. - Estación Industriales del Metro, junto al  <br>Centro comercial Punto Clave. Avenida Las Vegas <br>
                            Regreso: 5:00 P.m. - Ecoparque Los Saltos <br>
                            🚎 Salida desde Medellín por Las Palmas <br>
                            Presentarse puntual al sitio indicado. <br>
                            Senderismo y Canopy Salto Del Buey - La Ceja <br>
                            🚌 - Transporte en Bus de Turismo, Medellín – La Ceja – Medellín <br>
                            😃 Senderismo <br>
                            😎 Guianza. <br>
                            🚜 Traslado en Canopy 1.300 Mts Aprox <br>
                            📷 Fotografía. <br>
                            💉 Seguro de vida. <br>
                            ✅ Recomendaciones: <br>
                            - Usar ropa deportiva. <br>
                            - Usar calzado cómodo para la caminata, si es posible, llevar  <br>zapatos "playeros" para el descenso a la base del salto. <br>
                            - En el sitio venden almuerzo, muy buenos! <br>
                            - Llevar mínimo 3 litros de Agua. <br>
                            - Alimentos para todo el dia. <br>
                            - Usar medias oscuras. <br>
                            - Llevar ropa de cambio. en especial zapatos. <br>
                            - Morral comodo. <br>
                            - Bloqueador solar, gafas de sol, ropa fresca, gorra o sombrero. <br>
                            - Caminar siempre en grupo y no adelantarse al guía. <br>
                            📜*Únicamente mayores de 12 años* <br>
                            Atendiendo a las actividades que se desarrollan en el curso del  <br>viaje (Turismo de Naturaleza) y a los riesgos que se desprenden,  <br>la participación de menores de edad se restringe a la edad de 11 <br> años, es decir, solo podrán viajar niños a partir de 12 años de  <br>edad y que lo hagan en la compañía de sus padres. <br>
                        </span>
                    </div>
                </div>
                </div>
            </section>    
    </main>
    <footer>
      <div class="footer-logo wow animate__animated animate__fadeIn">
        <img src="../../img/home/logo-remove.png" alt="logo">
      </div>
      <div class="footer-contain">
        <div
          class="footer-contain__social wow animate__animated animate__fadeIn"
        >
          <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
          <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
          <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
          <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
        </div>
        <div class="footer-contain__message wow animate__animated animate__fadeIn">
            Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
        </div>
      </div>
  </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
        new WOW().init();
      </script>
</body>
</html>