<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!---------------- Descriptions & keywords -------------->
  <meta name="description"
    content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
  <meta name="keywords" content="viajes, senderismo, trekking, vacaciones, rivering, San Luis, integración">
  <!---------------- Favicon -------------->
  <link rel="shortcut icon" href="../../img/home/favicon.png">
  <!---------------- Fonts -------------->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap"
    rel="stylesheet">
  <!---------------- animated -------------->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <!---------------- Boostrap -------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!---------------- Boostrap Icons -------------->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!---------------- CSS -------------->
  <link rel="stylesheet" href="../../css/styles.css">
  <title>Travel House | Rio Claro</title>
</head>

<body>
  <header>
    <!---------------------------- Navbar ------------------------------>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
            </li>
            <!----------------- Opciones Deportes extremos------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Deportes Extremos
              </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./rioClaro.html">Rio claro</a></li>
                <li><a class="dropdown-item" href="./laCeja.html">La ceja</a></li>
                <li><a class="dropdown-item" href="#sanLuis">San luis</a></li>
              </ul>
            </li>

            <!----------------- Opciones Tours------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tours
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../tours/murillo.html">Murillo, Tolima</a></li>
                <li><a class="dropdown-item" href="../tours/islaFuerte.html">Isla Fuerte</a></li>
                <li><a class="dropdown-item" href="../tours/tatacoa.html">Desierto de la Tatacoa</a></li>
                <li><a class="dropdown-item" href="../tours/ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                <li><a class="dropdown-item" href="../tours/chicamocha.html">Cañón del chicamocha</a></li>
                <li><a class="dropdown-item" href="../tours/amazonas.html">Amazonas</a></li>
                <li><a class="dropdown-item" href="../tours/sapzurro.html">Sapzurro</a></li>
              </ul>
            </li>

            <!----------------- Opciones Senderismo------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Senderismo
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../senderismo/melcocho.html">Río Melcocho</a></li>
                <li><a class="dropdown-item" href="../senderismo/belmira.html">Páramo de Belmira</a></li>
                <li><a class="dropdown-item" href="../senderismo/esmeralda.html">Cascada la esmeralda</a></li>
                <li><a class="dropdown-item" href="../senderismo/cisneros.html">Senderismo en Cisneros</a></li>
                <li><a class="dropdown-item" href="../senderismo/venecia.html">Venecia</a></li>
                <li><a class="dropdown-item" href="../senderismo/guatape.html">Guatapé</a></li>
              </ul>
            </li>

            <!----------------- Opción Contacto------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Nosotros
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../contacto/contacto.html">Contacto</a></li>
                <li><a class="dropdown-item" href="../contacto/blog.html">Blog</a></li>
                <li><a class="dropdown-item" href="../contacto/tienda.html">Tienda</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div>
    <main>
      <!---------------------------- Información ------------------------------>
      <div class="bg-image"></div>
      <section>
        <div class="informacion" id="sanLuis">
          <h2 class="wow animate__animated animate__fadeIn">🌳Rivering en San Luis 🌳</h2>
          <div class="informacion__lugar">
            <div class="informacion__lugar-img">
              <img src="../../img/deportesExtremos/sanLuis/sluis.jpg" alt="sanLuis"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/deportesExtremos/sanLuis/sluis1.jpg" alt="sanLuis"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/deportesExtremos/sanLuis/sluis2.jpg" alt="sanLuis"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/deportesExtremos/sanLuis/sluis3.jpg" alt="sanLuis"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/deportesExtremos/sanLuis/sluis4.jpg" alt="sanLuis"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/deportesExtremos/sanLuis/sluis5.jpg" alt="sanLuis"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/deportesExtremos/sanLuis/sluis6.jpg" alt="sanLuis"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/deportesExtremos/sanLuis/sluis7.jpg" alt="sanLuis"
                class="wow animate__animated animate__fadeIn">
            </div>
            <div class="informacion__lugar-info wow animate__animated animate__fadeIn">
              <span>
                📆 Domingo 25 de Septiembre<br>
                💲 95.000 // 💪Nivel 2 Medio // 5 Km Incluye: 🚌 Transporte + 👲 <br>Guianza + 💧 Cascadas y Charcos +
                🏊‍♀Préstamo Flotadores para nadar <br>+ 📷 Fotografía + 🍲 Almuerzo + 🏥 Seguro.<br>
                👉 Separá tu cupo con 💲 50.000 abonando la Cuenta Ahorros <br>Bancolombia Nro: 253-972-664-03.<br>
                erificar disponibilidad antes del pago.<br>
                💳 Se reciben consignaciones, transferencias, traslados por la <br>Aplicación de Bancolombia.<br>
                Verificar disponibilidad antes del pago.<br>
                🚎 Al Momento de hacer el pago indicar si llega al sitio de salida,<br> o se realizará parada en los
                siguientes puntos de acopio: Autopista <br>Norte: Terminal del Norte, Tricentenario (Frente al parque
                Juanes),<br> Belalcázar, Soya, Autopista Medellín Bogotá en Zamora, Guarne, <br>Rionegro, Marinilla.
                Tenga en cuenta que en caso de no avisar en el<br> momento de la reserva, debe llegar al sitio de
                salida.<br>
                ✅ Descripción del Recorrido:<br>
                Iniciamos la ruta desde el casco urbano del municipio en dirección <br>norte, por carretera veredal para
                luego iniciar el descenso por <br>camino entre pastizales para llegar al Rio Dormilon.<br>
                Cuando llegamos al Rio iniciamos el recorrido por sus toboganes<br> naturales, charcos y aguas
                cristalinas. También nos encontramos con <br>pozos en los cuales saltar desde sus rocas aledañas es casi
                que <br>inevitable.<br>
                Continuamos la ruta visitando charcos cmo El Trampolín, charco del <br>Medio y luego charco de abajo o
                el Puente. Llegamos a almorzar, es<br> un fiambre hecho por personas de la zona, contamos con opciones
                <br>vegetariana. Luego de un breve descanso continuamos la ruta aguas <br>abajo hasta llegar al Charco
                Mas Grande de Antioquia, el Charco la <br>Planta<br>
                Este trayecto es de 5 km y el grado de dificultad es 2.<br>
                ✅ Actividades Propuestas:<br>
                🕘 6,00 Am: Salida, Punto Clave<br>
                Centro Comercial Punto Clave, Acera Avenida las Vegas<br>
                Contigua a la estación Metro Indsutriales.<br>
                - Parada a desayunar en Guarne.<br>
                - Calentamiento e Inicio de Senderismo<br>
                Tiempo Estimado: 5 Horas<br>
                ☀ Clima: Cálido<br>
                - Llegada Cabecera Municipal de San Luis<br>
                - Almuerzo, Toboganes naturales<br>
                - Visita, Balnearios Río Dormilón<br>
                🕘 5.30 Pm Regreso a Medellín.<br>
                ✅ Atractivos<br>
                - 💧 Charco La Planta (El mas grande de Antioquia)<br>
                - 💧 Río Dormilón y sus charcos de aguas cristalinas.<br>
                - 🌳 Abundante vegetación nativa<br>
                - 🌳 Flora, arboles frutales<br>
                ✅ Incluye:<br>
                🚌 Transporte terrestre Medellín - San Luis - Medellín<br>
                🍲 Almuerzo en Hoja / Hecho en el Pueblo.<br>
                Opción Vegetariana / Pedir con anticipación<br>
                😃 Senderismo.<br>
                😎 Guía acompañante y guías locales.<br>
                🔭 Visita algunos sitios turísticos de San Luis<br>
                💉 Seguro medico con Colasistencia. <br><br>
                ✅ ¿Qué debo llevar?<br>
                - Ropa para clima cálido.<br>
                - Ropa para baño, finalizamos la ruta en charcos.<br>
                - Liquido, unos 2 litros<br>
                - Frutas para consumir antes y durante la actividad.<br>
                - Usar camibuso<br>
                - Sombrero / Gorra<br>
                - Ropa de Baño<br>
                - Protector Solar, Repelente.<br>
                - Llevar Cámara de Fotos y/o Vídeo.<br>
                - Usar prendas deportivas.<br>
                🚫 No Incluye:<br>
                - Alimentación en carretera.<br>
                - Gastos no especificados en el plan.<br>
                📜Únicamente mayores de 12 años<br>
                Atendiendo a las actividades que se desarrollan en el curso del <br>viaje (Turismo de Naturaleza) y a
                los riesgos que se desprenden, la <br>participación de menores de edad se restringe a la edad de 11
                años,<br> es decir, solo podrán viajar niños a partir de 12 años de edad y que<br> lo hagan en la
                compañía de sus padres.<br>
              </span>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-logo wow animate__animated animate__fadeIn">
        <img src="../../img/home/logo-remove.png" alt="logo">
      </div>
      <div class="footer-contain">
        <div class="footer-contain__social wow animate__animated animate__fadeIn">
          <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
          <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
          <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
          <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
        </div>
        <div class="footer-contain__message wow animate__animated animate__fadeIn">
          Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
        </div>
      </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
</body>

</html>