<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------- Descriptions & keywords -------------->
    <meta name="description" content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
    <meta name="keywords" content="viajes, senderismo, trekking, vacaciones, mar, playa, ballenas, naturaleza, integración">
    <!---------------- Favicon -------------->
    <link rel="shortcut icon" href="../../img/home/favicon.png">
    <!---------------- Fonts -------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <!---------------- animated -------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!---------------- Boostrap -------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!---------------- Boostrap Icons -------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!---------------- CSS -------------->
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Travel House | Avistamiento de ballenas</title>
</head>
<body>
    <header>
         <!---------------------------- Navbar ------------------------------>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link wow animate__animated animate__fadeIn" aria-current="page" href="../../index.html">Home</a>
                      </li>
                <!----------------- Opciones Deportes extremos------------------>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Deportes Extremos
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../deportesExtremos/rioClaro.html">Rio claro</a></li>
                      <li><a class="dropdown-item" href="../deportesExtremos/laCeja.html">La ceja</a></li>
                      <li><a class="dropdown-item" href="../deportesExtremos/sanLuis.html">San luis</a></li>
                    </ul>
                  </li>

                <!----------------- Opciones Tours------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tours
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./murillo.html">Murillo, Tolima</a></li>
                        <li><a class="dropdown-item" href="./islaFuerte.html">Isla Fuerte</a></li>
                        <li><a class="dropdown-item" href="./tatacoa.html">Desierto de la Tatacoa</a></li>
                        <li><a class="dropdown-item" href="#ballenas">Avistamiento Ballenas, pacífico</a></li>
                        <li><a class="dropdown-item" href="./chicamocha.html">Cañón del chicamocha</a></li>
                        <li><a class="dropdown-item" href="./amazonas.html">Amazonas</a></li>
                        <li><a class="dropdown-item" href="./sapzurro.html">Sapzurro</a></li>
                      </ul>
                    </li>

                 <!----------------- Opciones Senderismo------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Senderismo
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../senderismo/melcocho.html">Río Melcocho</a></li>
                        <li><a class="dropdown-item" href="../senderismo/belmira.html">Páramo de Belmira</a></li>
                        <li><a class="dropdown-item" href="../senderismo/esmeralda.html">Cascada la esmeralda</a></li>
                        <li><a class="dropdown-item" href="../senderismo/cisneros.html">Senderismo en Cisneros</a></li>
                        <li><a class="dropdown-item" href="../senderismo/venecia.html">Venecia</a></li>
                        <li><a class="dropdown-item" href="../senderismo/guatape.html">Guatapé</a></li>
                    </ul>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div>
    <main>   
         <!---------------------------- Información ------------------------------>
         <div class="bg-image"></div>
            <section>
                <div class="informacion" id="ballenas">
                <h2 class="wow animate__animated animate__fadeIn">🐋☀Avistamiento de ballenas☀🐋 </h2>
                <div class="informacion__lugar wow animate__animated animate__fadeIn">
                    <div class="informacion__lugar-img">
                        <img src="../../img/tours/ballenas/ballenas.jpg" alt="img">
                        <img src="../../img/tours/ballenas/ballenas1.jpg" alt="img">
                        <img src="../../img/tours/ballenas/ballenas2.jpg" alt="img">
                        <img src="../../img/tours/ballenas/ballenas3.jpg" alt="img">
                        <img src="../../img/tours/ballenas/ballenas4.jpg" alt="alt">
                        <img src="../../img/tours/ballenas/ballenas5 .jpg" alt="img">
                        <img src="../../img/tours/ballenas/ballenas6.jpg" alt="img">
                        <img src="../../img/tours/ballenas/ballenas7.jpg" alt="img">
                    </div>
                    <div class="informacion__lugar-info wow animate__animated animate__fadeIn">
                        <span>
                            Plan 3 Noches : 💲 880.000 COP <br>
                            📆 Octubre 13 al 17 <br>
                            Plan 2 Noches : 💲 730.000 COP <br>
                            📆 Septiembre 16 al 19 <br>
                            📆 Septiembre 23 al 26 <br>
                            🏡Hospedaje + 🚤 Tour marítimo avistamiento de Ballenas  <br>🐋🐳Jorobadas + 🍔 Alimentación + Esteros + La Barra + Integración <br> nocturna + Obsequio <br>
                            📜 Para Reservas Abono, transferencia o traslado por la App Cuenta  <br>Ahorros Bancolombia 001-730-781-02 de Paola Alarcón cc. 1.000.400. <br>304 <br>
                            Verificar disponibilidad de cupos antes de reservar. <br>
                            Reserva: $ 150.000 Por persona, el resto del dinero en Efectivo <br> nosotros pasamos por él, o el día del evento según acuerdo con los <br> organizadores. <br>
                            Acompáñanos y viaja con nuestro grupo a uno de los espectáculos  <br>mas bellos que ofrece la naturaleza en nuestro país... Viaje desde <br> Medellín directamente al muelle turístico de Buenaventura donde  <br>nos embarcaremos hasta Juanchaco y posteriormente llegaremos a <br> Ladrilleros donde será nuestro hospedaje por 3 días y 3 noches. <br>
                            VIAJE AL AVISTAMIENTO DE BALLENAS INCLUYE: <br>
                            🚍 Transporte vía Terrestre Medellín - Buenaventura - Medellín. <br>
                            Bus de turismo Full Equipo, 40 Pasajeros. <br>
                            🚤 Traslado en Botes Buenaventura - Juanchaco - Buenaventura <br>
                            🍔 Alimentación: 2 Desayunos, 2 almuerzos y 2 Cenas <br>
                            Alimentación típica de la zona, menú con pescado. <br>
                            😎 Guía acompañante y Guía local. <br>
                            🏡 Alojamiento 3 Noches 3 Días. <br>
                            Tipo Hostel, Acomodación Múltiple. <br>
                            Acceso a Agua potable, Baños, Duchas, <br>
                            Apoyamos el turismo comunitario de la zona <br>
                            😮 Acomodación Múltiple // Baño Compartido. <br>
                            🐋🐳1 Salida a Avistamiento de Ballenas Jorobas cerca al PNN  <br>Uramba Bahía Málaga. <br>
                            😎 Salida Bahia Malaga, Cascadas la Sierpe <br>
                            🎁 Obsequio de Travel House. <br>
                            💉 Seguro de Asistencia. <br>
                            🔜 Día 1 - Viernes <br>
                            Salida: 5.30 P.m. <br>
                            ⏰ Salida Estación Envigado. Sobre la Autopista Sur en la bahía de <br> buses que colinda con Postobón. <br>
                            - Parada a cenar en carretera, sector de Irra. <br>
                            🔜 Día 2 - Sabado <br>
                            ⏰Parada a descanso corto en Loboguerrero. <br>
                            - Llegada al muelle turístico de Buenaventura. <br>
                            - Salida en Bote hacia Juanchaco. <br>
                            - Trayecto Juanchaco - Ladrilleros, $ 5.000 <br>
                            - Acomodación en posadas. <br>
                            - Almuerzo. <br>
                            - Salida Avistamiento de Ballenas. <br>
                            - Cena en las posadas. <br>
                            - Noche de integración y vino 🍷 <br>
                            🔜 Día 3 - Domingo <br>
                            ⏰ 7.30 Am: Desayuno <br>
                            - Salida en Bota Bahia Malaga: Cascadas de la Sierpe <br>
                            - Almuerzo. <br>
                            - Caminata por la playas de Ladrilleros - La Barra <br>
                            Vista del Atardecer en los alto de un risco. <br>
                            - Cena en las posadas. <br>
                            🔜 Día 5 - Lunes <br>
                            ⏰ 6.30 Am: Desayuno. <br>
                            - Traslado Ladrilleros - Juanchaco. <br>
                            - Traslado Juanchacho - Buenvantura <br>
                            - Regreso a Medellín desde Buenaventura. <br>
                            - Almuerzo en carretera. <br>
                            - Llegada a Medellín. <br>
                            Nos reservamos el cambio del itinerario durante el viaje si hay  <br>motivos de fuerza mayor sin implicar esto derecho del dinero. <br>
                            🚫 No Incluye: <br>
                            - 🚜 Traslado terrestre entre Juanchaco y Ladrilleros. <br>
                            Son 4 Kms, valor pasaje $ 5.000 Aprox <br>
                            Caminando son unos 40 Minutos, es recomendado. <br>
                            - 🍳 No incluye el desayuno del dia de llegada a Ladrilleros. <br>
                            - 💲 Aporte a los guardabosques. <br>
                            - 🍲 Comidas durante el viaje en carretera. <br>
                            - ⚠ Ten en cuenta que si no deseas realizar alguno de nuestros  <br>tour incluidos en el plan, no hay reintegro del dinero. <br>
                            👀 Recomendaciones: <br>
                            - Es importante llevar ropa cómoda, <br>
                            - Indispensable llevar camisas manga larga para evitar las <br> picaduras de insectos. <br>
                            - Llevar baterias portatil para carga de celulares. <br>
                            - Es fundamental llevar pantalones o sudadera para los eventos en  <br>la selva, no usar Jean. <br>
                            - Durante las caminatas y recorridos en lancha es importante  <br>protegerse la cabeza con una gorra o sombrero y usar gafas de sol. <br>
                            - El uso de bloqueador solar es imprescindible. <br>
                            - Repelente, se recomienda el Jabón "No Piques" mezclado con  <br>Menticol o el uso de pulsera repelente en los pies. <br>
                            - Linterna con Luz Led. <br>
                            - Dinero en Efectivo. <br>
                            - Cuidar y preservar la naturaleza y evitar llevar elementos que  <br>puedan contaminar. <br>
                            - Evite recolectar muestras de fauna o flora. <br>
                            📜**Únicamente mayores de 15 años** <br>
                            Atendiendo a las actividades que se desarrollan en el curso del  <br>viaje (Turismo de Naturaleza) y a los riesgos que se desprenden,  <br>la participación de menores de edad se restringe a la edad de 15 <br> años, es decir, solo podrán viajar niños a partir de 15 años de  <br>edad y que lo hagan en la compañía de sus padres. <br>
                        </span>
                    </div>
                </div>
                </div>
            </section>    
    </main>
    <footer>
        <div class="footer-contain">
            <div
              class="footer-contain__social wow animate__animated animate__fadeIn"
            >
            <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
            <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
            <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
            <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
            </div>
            <div class="footer-contain__copy wow animate__animated animate__fadeIn">
                Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
            </div>
        </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
        new WOW().init();
      </script>
</body>
</html>