<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------- Descriptions & keywords -------------->
    <meta name="description" content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
    <meta name="keywords" content="viajes, senderismo, trekking, vacaciones, chicamocha, guane, integración">
    <!---------------- Favicon -------------->
    <link rel="shortcut icon" href="../../img/home/favicon.png">
    <!---------------- Fonts -------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <!---------------- animated -------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!---------------- Boostrap -------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!---------------- Boostrap Icons -------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!---------------- CSS -------------->
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Travel House | Cañón del chicamocha</title>
</head>
<body>
    <header>
         <!---------------------------- Navbar ------------------------------>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link wow animate__animated animate__fadeIn" aria-current="page" href="../../index.html">Home</a>
                      </li>
                <!----------------- Opciones Deportes extremos------------------>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Deportes Extremos
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../deportesExtremos/rioClaro.html">Rio claro</a></li>
                      <li><a class="dropdown-item" href="../deportesExtremos/laCeja.html">La ceja</a></li>
                      <li><a class="dropdown-item" href="../deportesExtremos/sanLuis.html">San luis</a></li>
                    </ul>
                  </li>

                <!----------------- Opciones Tours------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tours
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./murillo.html">Murillo, Tolima</a></li>
                        <li><a class="dropdown-item" href="./islaFuerte.html">Isla Fuerte</a></li>
                        <li><a class="dropdown-item" href="./tatacoa.html">Desierto de la Tatacoa</a></li>
                        <li><a class="dropdown-item" href="./ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                        <li><a class="dropdown-item" href="#chicamocha">Cañón del chicamocha</a></li>
                        <li><a class="dropdown-item" href="./amazonas.html">Amazonas</a></li>
                        <li><a class="dropdown-item" href="./sapzurro.html">Sapzurro</a></li>
                      </ul>
                    </li>

                 <!----------------- Opciones Senderismo------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Senderismo
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../senderismo/melcocho.html">Río Melcocho</a></li>
                        <li><a class="dropdown-item" href="../senderismo/belmira.html">Páramo de Belmira</a></li>
                        <li><a class="dropdown-item" href="../senderismo/esmeralda.html">Cascada la esmeralda</a></li>
                        <li><a class="dropdown-item" href="../senderismo/cisneros.html">Senderismo en Cisneros</a></li>
                        <li><a class="dropdown-item" href="../senderismo/venecia.html">Venecia</a></li>
                        <li><a class="dropdown-item" href="../senderismo/guatape.html">Guatapé</a></li>
                    </ul>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div>
    <main>   
         <!---------------------------- Información ------------------------------>
         <div class="bg-image"></div>
            <section>
                <div class="informacion" id="chicamocha">
                <h2 class="wow animate__animated animate__fadeIn"> 🌳 ☀ Trekk Cañón del Chicamocha - Barichara ☀🌳</h2>
                <div class="informacion__lugar wow animate__animated animate__fadeIn">
                    <div class="informacion__lugar-img">
                        <img src="../../img/tours/chicamocha/chicamocha.jpg" alt="chicamocha">
                        <img src="../../img/tours/chicamocha/chicamocha1.jpg" alt="chicamocha">
                        <img src="../../img/tours/chicamocha/chicamocha2.jpg" alt="chicamocha">
                        <img src="../../img/tours/chicamocha/chicamocha3.jpg" alt="chicamocha">
                        <img src="../../img/tours/chicamocha/chicamocha4.jpg" alt="chicamocha">
                        <img src="../../img/tours/chicamocha/chicamocha5.jpg" alt="chicamocha">
                        <img src="../../img/tours/chicamocha/chicamocha6.jpg" alt="chicamocha">
                        <img src="../../img/tours/chicamocha/chicamocha7.jpg" alt="chicamocha">
                    </div>
                    <div class="informacion__lugar-info wow animate__animated animate__fadeIn">
                        <span>
                            📆 Agosto 12 al 15 <br>
                            📆 Octubre 14 al 17 <br>
                            📆 Noviembre 04 al 07 <br>
                            📆 Diciembre 07 al 10 <br>
                            📆 Diciembre 25 al 28 <br>
                            💲 590.000 COP // 2 noches y 2 días, #trekking Barichara - Guane +  <br>💪 Trekking Mesa de los Santos + Cañon del Chicamocha +  <br>Villanueva // Alojamiento en #Barichara 2 Noches + Ruta del mejor <br> trekking de Colombia. <br>
                            Acompáñanos a toda una expedición de dos (2) días de actividades  <br>desarrolladas a través del agreste y majestuoso “Cañón Del Río  <br>Chicamocha” en Santander, descendiendo por caminos reales de la  <br>época de la colonia, adentrándose en el cañón en un increíble  <br>paisaje de bosque seco local o a través de sus aguas en  <br>emocionantes rápidos. Un paseo por uno de los pueblos más bellos  <br>de Colombia, el renombrado Barichara (Santander) y una actividad <br> de Trekking al bello municipio de Guane. <br>
                            📜 Para Reservas Abonar en la Cuenta Ahorros Bancolombia  <br>511-438-677-00 CC: 1.128.278.347 de Jaime Andrés Acevedo //  <br>Verificar disponibilidad antes del pago. <br>
                            💳 Se reciben transferencias, consignaciones o traslados por la  <br>APP del Banco, Verificar disponibilidad de cupos antes de realizar <br> el pago. <br>
                            💲 Reserva: $ 150.000 Por persona, el resto del dinero en Efectivo  <br>nosotros pasamos por él, o el día del evento según acuerdo con los  <br>organizadores. <br>
                            ✅ Actividades propuestas: <br>
                            🔜 DÍA 1, Viernes <br>
                            ⏰ 6:00 Pm: Estación Universidad del Metro, salir por el puente <br> peatonal que da hacia el Centro Comercial Bosque Plaza, Sin  <br>salirse del centro comercial pasar la Zona de Comidas del segundo  <br>piso, Banco de Bogotá y salir por la entrada de la Av Juan de  <br>Corral (Carrera 51 D), Diagonal a la nueva Clínica de la Mujer. <br>
                            - 9.00 PM: Parada técnica, Cena. <br>
                            🔜 DÍA 2, Sábado <br>
                            - Llegada a La Mesa de los Santos, Desayuno. <br>
                            - Preparación Trekking Cañon del Chicamocha, Tramo 1. <br>
                            - Trekking Cañon del Chicamocha 11 Kms / Bajando <br>
                            - Almuerzo (incluído) <br>
                            - Descanso en la Piscina / Cañon de Chicamocha <br>
                            - Inicio Trekking a Villanueva, 6 Kms / Tramo 2. <br>
                            - Noche de descanso en Barichara. <br>
                            🔜 DÍA 3, Domingo <br>
                            ⏰ 8.30 Am: Desayuno (Incluido) <br>
                            - Recorrido por Barichara. <br>
                            6 Kms // Nivel III // Clima cálido // 4 Horas <br>
                            - Almuerzo en Barichara (No Incluído) <br>
                            - Senderismo a Guane / 5 Kms - Nivel I <br>
                            - Cena en Barichara.(No incluido) <br>
                            - Noche libre en Barichara. <br>
                            🔜 DÍA 4, Lunes <br>
                            - Desayuno (Incluido) <br>
                            - Salida hacia Medellín. <br>
                            - Parada técnica: Almuerzo. <br>
                            - Parada técnica. <br>
                            - Llegada a Medellín. <br>
                            ✅ Incluye: <br>
                            🚎 Transporte Medellín - La Mesa de los Santo - Barichara -  <br>Medellín // Bus Full Equipo. <br>
                            🏡 Alojamiento 2 Noches 2 Días Acomodación Múltiple ( 3 - 4  <br>Personas) en Barichara. <br>
                            Acceso a Agua potable, Baños, Duchas. <br>
                            🍔 Alimentación: 2 Desayunos, 2 Almuerzos. <br>
                            Comida tipica de la región. <br>
                            👣 Trekking Mesa de los Santos - Chicamocha / Nivel II <br>
                            👣 Trekking El Jordán - Villanueva // Nivel III <br>
                            👣 Trekking Barichara - Guane // Nivel I <br>
                            Clima cálido // Dificultad: Medio Alto <br>
                            💉 Seguro medico con Colasistencia. <br>
                            🎁 Obsequio de Travel House. <br>
                            😎 Guías Locales. <br>
                            🚫 No Incluye: <br>
                            - Alimentación en Carretera. <br>
                            - Alimentación no especificada. <br>
                            - Entrada a los museos y sitios no especificados. <br>
                            - Consumos no especificados en el plan. <br>
                            ✅ Recomendaciones: <br>
                            - Llevar Chaqueta o Cobija para el viaje. <br>
                            Bus con Aire acondicionado. <br>
                            - Vestuario para las actividades, clima cálido. <br>
                            - Accesorios de aseo persona, Toalla, Jabón, Crema dental. <br>
                            - Usar ropa deportiva, camibuso, tenis. <br>
                            - Llevar traje de Baño <br>
                            - Bloqueador solar, Gorra o Sombrero. <br>
                            - Repelente, se recomienda el Jabón "No Piques" mezclado con  <br>Menticol. <br>
                            - Un tarro para cargar agua. <br>
                            - Linterna con Luz Led. <br>
                            - Dinero en Efectivo. <br>
                            📜**Únicamente mayores de 12 años** <br>
                            Atendiendo a las actividades que se desarrollan en el curso del <br> viaje (Turismo de Naturaleza) y a los riesgos que se desprenden, <br> la participación de menores de edad se restringe a la edad de 11 <br> años, es decir, solo podrán viajar niños a partir de 10 años de  <br>edad y que lo hagan en la compañía de sus padres. <br>
                        </span>
                    </div>
                </div>
                </div>
            </section>    
    </main>
    <footer>
        <div class="footer-contain">
            <div
              class="footer-contain__social wow animate__animated animate__fadeIn"
            >
            <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
            <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
            <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
            <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
            </div>
            <div class="footer-contain__copy wow animate__animated animate__fadeIn">
                Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
            </div>
        </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
        new WOW().init();
      </script>
</body>
</html>