<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------- Descriptions & keywords -------------->
    <meta name="description" content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
    <meta name="keywords" content="viajes, senderismo, trekking, vacaciones, isla, playa, mar, naturaleza, integración">
    <!---------------- Favicon -------------->
    <link rel="shortcut icon" href="../../img/home/favicon.png">
    <!---------------- Fonts -------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <!---------------- animated -------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!---------------- Boostrap -------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!---------------- Boostrap Icons -------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!---------------- CSS -------------->
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Travel House | Isla Fuerte</title>
</head>
<body>
    <header>
         <!---------------------------- Navbar ------------------------------>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link wow animate__animated animate__fadeIn" aria-current="page" href="../../index.html">Home</a>
                      </li>
                <!----------------- Opciones Deportes extremos------------------>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Deportes Extremos
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../deportesExtremos/rioClaro.html">Rio claro</a></li>
                      <li><a class="dropdown-item" href="../deportesExtremos/laCeja.html">La ceja</a></li>
                      <li><a class="dropdown-item" href="../deportesExtremos/sanLuis.html">San luis</a></li>
                    </ul>
                  </li>

                <!----------------- Opciones Tours------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tours
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./murillo.html">Murillo, Tolima</a></li>
                        <li><a class="dropdown-item" href="#isla">Isla Fuerte</a></li>
                        <li><a class="dropdown-item" href="./tatacoa.html">Desierto de la Tatacoa</a></li>
                        <li><a class="dropdown-item" href="./ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                        <li><a class="dropdown-item" href="./chicamocha.html">Cañón del chicamocha</a></li>
                        <li><a class="dropdown-item" href="./amazonas.html">Amazonas</a></li>
                        <li><a class="dropdown-item" href="./sapzurro.html">Sapzurro</a></li>
                      </ul>
                    </li>

                 <!----------------- Opciones Senderismo------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle wow animate__animated animate__fadeIn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Senderismo
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../senderismo/melcocho.html">Río Melcocho</a></li>
                        <li><a class="dropdown-item" href="../senderismo/belmira.html">Páramo de Belmira</a></li>
                        <li><a class="dropdown-item" href="../senderismo/esmeralda.html">Cascada la esmeralda</a></li>
                        <li><a class="dropdown-item" href="../senderismo/cisneros.html">Senderismo en Cisneros</a></li>
                        <li><a class="dropdown-item" href="../senderismo/venecia.html">Venecia</a></li>
                        <li><a class="dropdown-item" href="../senderismo/guatape.html">Guatapé</a></li>
                    </ul>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div>
    <main>   
         <!---------------------------- Información ------------------------------>
         <div class="bg-image"></div>
            <section>
                <div class="informacion" id="isla">
                <h2 class="wow animate__animated animate__fadeIn">🏖 Integración en Isla Fuerte 🏖</h2>
                <div class="informacion__lugar wow animate__animated animate__fadeIn">
                    <div class="informacion__lugar-img">
                        <img src="../../img/tours/islaFuerte/isla.jpg" alt="img">
                        <img src="../../img/tours/islaFuerte/isla2.jpg" alt="img">
                        <img src="../../img/tours/islaFuerte/isla3.jpg" alt="img">
                        <img src="../../img/tours/islaFuerte/isla4.jpg" alt="img">
                        <img src="../../img/tours/islaFuerte/isla5.jpg" alt="alt">
                        <img src="../../img/tours/islaFuerte/isla6.jpg" alt="img">
                        <img src="../../img/tours/islaFuerte/isla7.jpg" alt="img">
                        <img src="../../img/tours/islaFuerte/isla8.jpg" alt="img">
                    </div>
                    <div class="informacion__lugar-info wow animate__animated animate__fadeIn">
                        <span>
                            📆 Agosto 12 al 15 <br>
                            📆 Octubre 14 al 17 <br>
                            📆 Noviembre 04 al 07 <br>
                            📆 Noviembre 11 al 14 <br>
                            📆 Diciembre 07 al 10 <br>
                            📆 Diciembre 15 al 18 <br>
                            📆 Diciembre 25 al 29 <br>
                            💲 620.000 COP  <br>
                            🏡 Hospedaje en #IslaFuerte 3 noches 3 días // Hotel con playa privada + Caminatas Playa San Diego, Playa El Matal, Playa Cebolleta, Punta Arena + Traslados en bote + 🍔 Alimentación + Seguro médico + Prestamo de Kayak + Snorkeling + 🌠 Integración nocturna + Clases de Baile Champeta
                            🌴 Cuando llegas a la Isla te reciben como al hijo pródigo, nos acomodamos en las habitaciones luego un delicioso desayuno, nos llega la hora de sumergirnos en las playas frente a la cabaña, con la mejor combinación de playa y bosque. <br>
                            ✅ Informes y reservas únicamente vía whatsapp: <br>
                            ✅ Actividades propuestas: <br>
                            🔜 Salida: <br>
                            Salida: 5:30 Pm. <br>
                            ⏰ Estación Universidad del Metro, salir por el puente peatonal que da hacia el Centro Comercial Bosque Plaza, sin salirse del centro comercial pasar la Zona de Comidas del segundo piso, Banco de Bogotá y salir por la entrada de la Av. Juan de Corral (Crr 51 D), Diagonal a la nueva Clínica de la Mujer. 👀 Recomendamos el uso del sistema de transporte Metro para llegar a tiempo. Salimos puntuales. <br>
                            🔜 Día 1 <br>
                            Llegada. <br>
                            Playa Puerto Limón <br>
                            Senderismo al Interior de la Isla <br>
                            Integración nocturna. <br>
                            🔜 Día 2 <br>
                            Senderismo por la Isla <br>
                            Playa San Diego. <br>
                            Playa el Matal
                            Atardecer en la playa <br>
                            🔜 Día 3 <br>
                            Playa Centro de Buceo <br>
                            Vuelta a la Isla en Bote <br>
                            Prestamo de Kayak <br>
                            Punta de los Pajaros <br>
                            🔜 Día 4 <br>
                            Desayunamos y salimos hacia Medellín a eso de las 8:30 AM. <br>
                            Hora estimada de llegada: 10:00 Pm. <br>
                            ✅ incluye <br>
                            🏡 3 Noches de alojamiento en el Hotel Mar Abierto. <br>
                            🚍 Transporte Medellín -San Bernardo - Medellín <br>
                            🚤 Transporte Marítimo: San Bernardo de Viento-Isla Fuerte-San Bernardo del Viento <br>
                            🍔 Alimentación: 4 Desayunos, 3 almuerzos y 3 Cenas <br>
                            🚤 Vuelta a la Isla Bote - Actividad Snorkel <br>
                            🚤 Prestamo de Kayak <br>
                            😎 Guía acompañante y Guía local. <br>
                            😄 Hospedaje en cabañas, acomodación múltiple. <br>
                            👣 Caminata Arbol que camina, Playa el Matal, Playa San Diego, Punta Arena,  <br>Puerto Limón, Playa El Inglés, Cebolleta <br>
                            🌜 Integraciones nocturnas. <br>
                            💉 Seguro medico con Colasistencia. <br>
                            ✅ ¿Qué debo llevar? <br>
                            - Llevar Chaqueta o Cobija para el viaje. <br>
                            Bus con Aire acondicionado. <br>
                            - Accesorios de aseo personal, Toalla, Jabón, Crema dental. <br>
                            - Usar ropa deportiva, camibuso, tenis. <br>
                            - Llevar traje de Baño <br>
                            - Bloqueador solar, Gorra o Sombrero. <br>
                            - Repelente, se recomienda el Jabón "No Piques" mezclado con
                            Menticol. <br>
                            - Usar calzado para playa. <br>
                            - Botiquín personal (Gasas, alcohol, vendas, pastillas si las usa). <br>
                            - Linterna con Luz Led. <br>
                            - Dinero en Efectivo <br>
                            ✅ Recomendaciones: <br>
                            🔘 Usar la ducha para bañarnos una sola vez al día, hagamos un uso racional del agua. <br>
                            🔘 Presentarse en los horarios establecidos para recibir el desayuno, almuerzo y cena <br>
                            🔘 El itinerario propuesto sirve como guía de las actividades a realizar, este puede sufrir modificaciones en el transcurso del viaje por motivos de fuerza mayor. <br>
                            🔘 Practicar el auto-cuidado para evitar al máximo accidentes, los servicios de salud de la zona son deficientes, San Francisco solo cuenta con un puesto de salud. <br>
                            🔘 El seguro medico ofrecido en el Plan funciona como una EPS, cubre gastos médicos mas no rescate y traslados a los centros hospitalarios <br>
                            🔘 En el Bus, en los puestos que viajamos de ida lo haremos de regreso, evitemos molestias a los demás compañeros <br>
                            🔘 Tratar con respeto y cordialidad al resto de los compañeros de viaje, conductores, lancheros, isleños, guías y a los lugareños que amablemente han decidido recibir nuestro grupo. <br>
                            🔘 Vamos en un viaje en grupo, por tanto cualquier cosa que hagamos puede tener repercusión en el resto de compañeros como por ejemplo ocasionar retrasos. Actuar con cuidado y respeto siempre. <br>
                            📜*Únicamente mayores de 10 años* <br>
                            Atendiendo a las actividades que se desarrollan en el curso del viaje (Turismo de Naturaleza) y a los riesgos que se desprenden, la participación de menores de edad se restringe a la edad de 10 años, es decir, solo podrán viajar niños a partir de 10 años de edad y que lo hagan en la compañía de sus padres. <br>
                        </span>
                    </div>
                </div>
                </div>
            </section>    
    </main>
    <footer>
        <div class="footer-contain">
            <div
              class="footer-contain__social wow animate__animated animate__fadeIn"
            >
            <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
            <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
            <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
            <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
            </div>
            <div class="footer-contain__copy wow animate__animated animate__fadeIn">
                Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
            </div>
        </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
        new WOW().init();
      </script>
</body>
</html>