<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------- Descriptions & keywords -------------->
    <meta name="description" content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
    <meta name="keywords" content="viajes, senderismo, trekking, vacaciones, sapzurro, capurgná, playa,mar, integración">
    <!---------------- Favicon -------------->
    <link rel="shortcut icon" href="../../img/home/favicon.png">
    <!---------------- Fonts -------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <!---------------- animated -------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!---------------- Boostrap -------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!---------------- Boostrap Icons -------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!---------------- CSS -------------->
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Travel House | Sapzurro</title>
</head>
<body>
    <header>
         <!---------------------------- Navbar ------------------------------>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
                      </li>
                <!----------------- Opciones Deportes extremos------------------>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Deportes Extremos
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../deportesExtremos/rioClaro.html">Rio claro</a></li>
                      <li><a class="dropdown-item" href="../deportesExtremos/laCeja.html">La ceja</a></li>
                      <li><a class="dropdown-item" href="../deportesExtremos/sanLuis.html">San luis</a></li>
                    </ul>
                  </li>

                <!----------------- Opciones Tours------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tours
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./murillo.html">Murillo, Tolima</a></li>
                        <li><a class="dropdown-item" href="./islaFuerte.html">Isla Fuerte</a></li>
                        <li><a class="dropdown-item" href="./tatacoa.html">Desierto de la Tatacoa</a></li>
                        <li><a class="dropdown-item" href="./ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                        <li><a class="dropdown-item" href="./chicamocha.html">Cañón del chicamocha</a></li>
                        <li><a class="dropdown-item" href="./amazonas.html">Amazonas</a></li>
                        <li><a class="dropdown-item" href="#sapzurro">Sapzurro</a></li>
                      </ul>
                    </li>

                 <!----------------- Opciones Senderismo------------------>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Senderismo
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../senderismo/melcocho.html">Río Melcocho</a></li>
                        <li><a class="dropdown-item" href="../senderismo/belmira.html">Páramo de Belmira</a></li>
                        <li><a class="dropdown-item" href="../senderismo/esmeralda.html">Cascada la esmeralda</a></li>
                        <li><a class="dropdown-item" href="../senderismo/cisneros.html">Senderismo en Cisneros</a></li>
                        <li><a class="dropdown-item" href="../senderismo/venecia.html">Venecia</a></li>
                        <li><a class="dropdown-item" href="../senderismo/guatape.html">Guatapé</a></li>
                    </ul>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div>
    <main>   
         <!---------------------------- Información ------------------------------>
         <div class="bg-image"></div>
            <section>
                <div class="informacion" id="sapzurro">
                <h2 class="wow animate__animated animate__fadeIn">🏖 🇨🇴Integración en Sapzurro - Capurganá 🇨🇴🏖</h2>
                <div class="informacion__lugar">
                    <div class="informacion__lugar-img">
                        <img src="../../img/tours/sapzurro/sapzurro.jpg" alt="sapzurro" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/tours/sapzurro/sapzurro1.jpg" alt="sapzurro" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/tours/sapzurro/sapzurro2.jpg" alt="sapzurro" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/tours/sapzurro/sapzurro3 .jpg" alt="sapzurro" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/tours/sapzurro/sapzurro4.jpg" alt="sapzurro" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/tours/sapzurro/sapzurro5 .jpg" alt="sapzurro" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/tours/sapzurro/sapzurro6.jpg" alt="sapzurro" class="wow animate__animated animate__fadeIn">
                        <img src="../../img/tours/sapzurro/sapzurro7.jpg" alt="sapzurro" class="wow animate__animated animate__fadeIn">
                    </div>
                    <div class="informacion__lugar-info wow animate__animated animate__fadeIn">
                        <span>
                            📆 Octubre 13 al 17 <br>
                            📆 Noviembre 03 al 07 <br>
                            📆 Noviembre 10 al 14 <br>
                            📆 Diciembre 07 al 11 <br>
                            📆 Diciembre 25 al 29 <br>
                            💲750.000 COP // 🏡 Hospedaje en #Sapzurro// Cabo Tiburón +  <br>#Capurganá + 🌜Integración Nocturna + Caminatas + 🚤 Traslados +  <br>🍔Alimentación. <br>
                            Acompáñanos a descubrir un verdadero paraíso en medio de la selva  <br>entre Colombia y Panamá que enamora con su gran bella naturaleza,  <br>el lugar ideal para descansar con sus bellas playas de arena <br> blanca, rodeadas de una autentica selva tropical que contrasta con  <br>el azul turquesa de su mar. <br>
                            📜 Para Reservas Abono, transferencia o traslado por la App <br>
                            - Verificar disponibilidad de cupos antes de reservar. <br>
                            💳 Se reciben transferencias, consignaciones o traslados por la  <br>APP del Banco, Verificar disponibilidad de cupos antes de realizar <br> el pago. <br>
                            💲 Reserva: $ 150.000 Por persona, el resto del dinero en Efectivo <br> nosotros pasamos por él, o el día del evento según acuerdo con los  <br>organizadores. <br>
                            ✅ Incluye: <br>
                            🚍 Transporte Terrestre: Medellín - Turbo- Medellín. <br>
                            🚤 Transporte Marítimo: Turbo- Sapzurro - Turbo <br>
                            🍔 Alimentación: 3 Desayunos, 2 almuerzos y 3 Cenas. <br>
                            👀 En caso de no consumir carne o pescado, informar al momento de <br> la reserva para tener una segunda opción. <br>
                            😎 Guía acompañante y Guía local. <br>
                            🏡 Hospedaje en hostal 3 noches en Sapzurro. <br>
                            😮 Senderismo: Sapzurro - La Miel - Sapzurro. <br>
                            😄 Caminata Playa de Cabo Tiburón. <br>
                            😄 Senderismo Sapzurro - Capurganá. <br>
                            😄 Caminata ecológica a La Coquerita. <br>
                            🎁 Obsequio de Travel House. <br>
                            💉 Seguro de Asistencia. <br>
                            ✅ Actividades propuestas: <br>
                            🔜DÍA 1: <br>
                            ⏰ Hora de encuentro 6.30 Pm, Estación Universidad del Metro, salir <br> por el puente peatonal que da hacia el Centro Comercial Bosque  <br>Plaza, Sin salirse del centro comercial pasar la Zona de Comidas <br> del segundo piso, Banco de Bogotá y salir por la entrada de la Av. <br> Juan de Corral (Crr 51 D), Diagonal a la nueva Clínica de la  <br>Mujer. 👀 Recomendamos el uso del sistema de transporte Metro para <br> llegar a tiempo. Salimos puntuales. <br>
                            🔜DÍA 2: <br>
                            Llegada a Turbo para embarcarnos en lancha en un recorrido de por <br> todo el Golfo de Urabá hasta llegar a Sapzurro. Acomodación en las <br> posadas, descanso en las playa. Tomamos el almuerzo y nos  <br>disponemos a iniciar una corta pero agradable caminata hasta la  <br>playa de Cabo Tiburón, donde nos regresamos al final de la tarde. <br>
                            🔜DÍA 3: <br>
                            Iniciamos con el desayuno en la bahía de Sapzurro para luego  <br>cruzar caminando la frontera con Panamá, es obligatorio portar  <br>documentos de identidad para hacer el paso con la policía  <br>panameña. En La Miel encontramos una bella playa de arena blanca,  <br>mar de color azul turquesa, buena comida, y un paisaje de  <br>contraste con la abundante selva y el mar caribe, nos regresamos  <br>en la tarde caminando para tomar el descanso en Sapzurro. <br>
                            🔜DÍA 4: <br>
                            Luego de tomar un buen desayuno, salimos hacia Capurganá,  <br>recorrido por unos paisajes muy bellos. allí tomamos el almuerzo, <br> visitamos sus sitios de interés, playas y disfrutamos la tarde en <br> ese importante sitio del Golfo, para luego regresarnos en Lancha  <br>hasta Sapzurro. <br>
                            🔜DÍA 5: <br>
                            Día de regreso a casa, luego de un desayuno ligero abordamos el  <br>bote hasta Turbo donde hacemos el transbordo hacia el Bus, una  <br>parada a buscar almuerzo en Cañasgordas y la llegada a Medellín a <br> eso de las 10:30 Pm. <br>
                        </span>
                    </div>
                </div>
                </div>
            </section>    
    </main>
    <footer>
      <div class="footer-logo wow animate__animated animate__fadeIn">
        <img src="../../img/home/logo-remove.png" alt="logo">
      </div>
      <div class="footer-contain">
        <div
          class="footer-contain__social wow animate__animated animate__fadeIn"
        >
          <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
          <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
          <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
          <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
        </div>
        <div class="footer-contain__message wow animate__animated animate__fadeIn">
            Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
        </div>
      </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
        new WOW().init();
      </script>
</body>
</html>