<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!---------------- Descriptions & keywords -------------->
  <meta name="description"
    content="Descubre las mejores ofertas para tus fines de semana o vacaciones, lugares para hacer bungee jumping, senderismo, paracaidismo, rapel y viajes.">
  <meta name="keywords"
    content="viajes, senderismo, trekking, vacaciones, desierto,tatacoa, Huila,valle de las tristezas, naturaleza, integración">
  <!---------------- Favicon -------------->
  <link rel="shortcut icon" href="../../img/home/favicon.png">
  <!---------------- Fonts -------------->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zilla+Slab:wght@300&display=swap"
    rel="stylesheet">
  <!---------------- animated -------------->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <!---------------- Boostrap -------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!---------------- Boostrap Icons -------------->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!---------------- CSS -------------->
  <link rel="stylesheet" href="../../css/styles.css">
  <title>Travel House | Desierto de la tatacoa</title>
</head>

<body>
  <header>
    <!---------------------------- Navbar ------------------------------>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../img/home/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
            </li>
            <!----------------- Opciones Deportes extremos------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Deportes Extremos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../deportesExtremos/rioClaro.html">Rio claro</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/laCeja.html">La ceja</a></li>
                <li><a class="dropdown-item" href="../deportesExtremos/sanLuis.html">San luis</a></li>
              </ul>
            </li>

            <!----------------- Opciones Tours------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tours
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./murillo.html">Murillo, Tolima</a></li>
                <li><a class="dropdown-item" href="./islaFuerte.html">Isla Fuerte</a></li>
                <li><a class="dropdown-item" href="#tatacoa">Desierto de la Tatacoa</a></li>
                <li><a class="dropdown-item" href="./ballenas.html">Avistamiento Ballenas, pacífico</a></li>
                <li><a class="dropdown-item" href="./chicamocha.html">Cañón del chicamocha</a></li>
                <li><a class="dropdown-item" href="./amazonas.html">Amazonas</a></li>
                <li><a class="dropdown-item" href="./sapzurro.html">Sapzurro</a></li>
              </ul>
            </li>

            <!----------------- Opciones Senderismo------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Senderismo
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../senderismo/melcocho.html">Río Melcocho</a></li>
                <li><a class="dropdown-item" href="../senderismo/belmira.html">Páramo de Belmira</a></li>
                <li><a class="dropdown-item" href="../senderismo/esmeralda.html">Cascada la esmeralda</a></li>
                <li><a class="dropdown-item" href="../senderismo/cisneros.html">Senderismo en Cisneros</a></li>
                <li><a class="dropdown-item" href="../senderismo/venecia.html">Venecia</a></li>
                <li><a class="dropdown-item" href="../senderismo/guatape.html">Guatapé</a></li>
              </ul>
            </li>

            <!----------------- Opción Contacto------------------>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Nosotros
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../contacto/contacto.html">Contacto</a></li>
                <li><a class="dropdown-item" href="../contacto/blog.html">Blog</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div>
    <main>
      <!---------------------------- Información ------------------------------>
      <div class="bg-image"></div>
      <section>
        <div class="informacion" id="tatacoa">
          <h2 class="wow animate__animated animate__fadeIn"> 🌵 🇨🇴 Desierto de La Tatacoa 🇨🇴🌵</h2>
          <div class="informacion__lugar">
            <div class="informacion__lugar-img">
              <img src="../../img/tours/tatacoa/desierto.jpg" alt="tatacoa"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/tours/tatacoa/desierto1.jpg" alt="tatacoa"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/tours/tatacoa/desierto2.jpg" alt="tatacoa"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/tours/tatacoa/desierto3.jpg" alt="tatacoa"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/tours/tatacoa/desierto4.jpg" alt="tatacoa"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/tours/tatacoa/desierto5.jpg" alt="tatacoa"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/tours/tatacoa/desierto6.jpg" alt="tatacoa"
                class="wow animate__animated animate__fadeIn">
              <img src="../../img/tours/tatacoa/desierto7.jpg" alt="tatacoa"
                class="wow animate__animated animate__fadeIn">
            </div>
            <div class="informacion__lugar-info wow animate__animated animate__fadeIn">
              <span>
                📆 Octubre 14 al 17 <br>
                📆 Noviembre 04 al 07 <br>
                📆 Noviembre 11 al 14 <br>
                📆 Diciembre 07 al 10 <br>
                📆 Diciembre 15 al 18 <br>
                📆 Diciembre 25 al 28 <br>
                💲 560.000 COP <br>
                Vive la magia de este bello lugar durante 2 días. // 2 noches y 2 <br>días, #trekking en el Valle de los
                Xilópalos 🏜 + 🌵Zona roja del <br>desierto + zona gris del desierto + 🌌observación astronómica +
                <br>integraciones nocturnas. <br>
                Incluye; 🚎 Transporte terrestre desde #Medellín ida y regreso, <br>alojamiento ✨ 2 noches, 🍲
                alimentación full, hidratación, <br>obsequio, seguro médico. <br>
                📜 Para Reservas Abono, transferencia o traslado por la App a <br>Cuenta Ahorros Bancolombia. <br>
                - Verificar disponibilidad de cupos antes de reservar. <br>
                💳 Se reciben transferencias, consignaciones o traslados por la <br>APP del Banco, Verificar
                disponibilidad de cupos antes de realizar <br> el pago. <br>
                > 💲 Reserva: $ 200.000 Por persona, el resto del dinero en <br>Efectivo nosotros pasamos por él, o el
                día del evento según <br>acuerdo con los organizadores. <br>
                ✅ Actividades propuestas: <br>
                🔜 DÍA 1 <br>
                Salida: 5.30 Pm. <br>
                ⏰ Estación Universidad del Metro, salir por el puente peatonal que <br> da hacia el Centro Comercial
                Bosque Plaza, Sin salirse del centro <br>comercial pasar la Zona de Comidas del segundo piso, Banco de
                <br>Bogotá y salir por la entrada de la Av. Juan de Corral (Crr 51 D), <br>Diagonal a la nueva Clínica
                de la Mujer. 👀 Recomendamos el uso <br>del sistema de transporte Metro para llegar a tiempo. Salimos
                <br>puntuales. <br>
                - Parada técnica o de descanso en Doradal. <br>
                🔜 DÍA 2 <br>
                ⏰ Llegada a Villa Vieja (Huila), Desayuno. <br>
                - Visita Museo Paleontológico, Parque Principal, Museo del Totumo, <br>
                Riveras del Río Magdalena. <br>
                - Llegada al Desierto, Acomodación en Posadas. <br>
                - Almuerzo. <br>
                ⏰ Senderismo, Zona roja del desierto. <br>
                Acompañados de Guía Local. <br>
                - Cena <br>
                - Noche Libre, descanso. <br>
                🔜 DÍA 3 <br>
                ⏰ Desayuno. <br>
                - 6.30 Am: Salida Senderismo Zona gris del Desierto. <br>
                Senderismo Valle de los Xilópalos. <br>
                Observatorio - Hoyos de Marte // 10 Km // Nivel II. <br>
                Visita Piscinas naturales. <br>
                - Almuerzo en la Posada. <br>
                ⏰ 7.00 Pm: Cena en la Posada. <br>
                - Noche de integración, Astronomía, Fogata y Vino! <br>
                🔜 DÍA 4 <br>
                ⏰ Desayuno <br>
                - 8.00 Am: Salida hacia Medellín. <br>
                - Parada Almuerzo em carretera. <br>
                - Parada técnica. <br>
                ⏰ 10:00 Pm: Llegada a Medellín. <br>
                ✅ Incluye: <br>
                - 🚎 Transporte vía Terrestre Medellín - Desierto - Medellín. <br>
                Bus Full Equipo. <br>
                - 🏠 Alojamiento 2 Noches 2 Días. <br>
                En Posada, Acomodación Múltiple ( 4 - 5 Personas) <br>
                Acceso a Agua, Baños, Duchas, Hamacas. <br>
                - 🍲 Alimentación Full <br>
                3 Desayunos, 2 Almuerzo, 2 Cenas <br>
                Comida típica de la región. <br>
                - ⭐Charla sobre Astronomía - Guía Experto en el tema. <br>
                - 😃 Senderismo Nivel I y II <br>
                Desierto Laberintos del Cuzco <br>
                Zona Gris del Desierto + Valle de Xilópalos, 8 K <br>
                - 🙂 Caminata por los principales museos del Municipio. <br>
                - 💉 Seguro medico con Colasistencia. <br>
                - 🎁 Obsequio de Travel House. <br>
                - 😎 Guías Locales. <br>
                🚫 No Incluye: <br>
                - Alimentación en Carretera. <br>
                - Entrada a los museos, $ 2.000 x Museo Aprox. <br>
                - Uso de la piscina en el sector de los Hoyos, $8.000 <br>
                - Consumos no especificados en el plan. <br>
                ✅ Recomendaciones: <br>
                - Llevar Chaqueta o Cobija para el viaje. <br>
                Bus con Aire acondicionado. <br>
                - Accesorios de aseo personal, Toalla, Jabón, Crema dental. <br>
                - Usar ropa deportiva, camibuso, tenis. <br>
                - Llevar traje de Baño. <br>
                El sector cuenta con varias piscinas naturales. <br>
                - Bloqueador solar, Gorra o Sombrero. <br>
                - Repelente, se recomienda el Jabón "No Piques" mezclado con <br>
                Menticol. <br>
                - Un tarro para cargar agua. <br>
                - Linterna con Luz Led. <br>
                - Dinero en Efectivo. <br>
                📜*Únicamente mayores de 10 años* <br>
                Atendiendo a las actividades que se desarrollan en el curso del <br>viaje (Turismo de Naturaleza) y a
                los riesgos que se desprenden, <br>la participación de menores de edad se restringe a la edad de 10
                <br>años, es decir, solo podrán viajar niños a partir de 10 años de <br>edad y que lo hagan en la
                compañía de sus padres. <br>
              </span>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-logo wow animate__animated animate__fadeIn">
        <img src="../../img/home/logo-remove.png" alt="logo">
      </div>
      <div class="footer-contain">
        <div class="footer-contain__social wow animate__animated animate__fadeIn">
          <a href="http://instagram.com/" target="_blank" rel="nofollow"><i class="bi bi-instagram"></i></a>
          <a href="http://facebook.com/" target="_blank" rel="nofollow"><i class="bi bi-facebook"></i></a>
          <a href="http://twitter.com/" target="_blank" rel="nofollow"><i class="bi bi-twitter"></i></a>
          <a href="http://spotify.com/" target="_blank" rel="nofollow"><i class="bi bi-spotify"></i></a>
        </div>
        <div class="footer-contain__message wow animate__animated animate__fadeIn">
          Travel House SAS, RNT 95404 <i class="bi bi-c-circle"></i> 2022
        </div>
      </div>
    </footer>
    <!---------------- Boostrap -------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
    <!---------------- animated -------------->
    <script src="../../animated/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
</body>

</html>